# Cluster Affinity Propagation

## Abrindo o arquivo de treino

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

data = pd.read_csv('treino.csv')

# Plataforma
# Genero
# Vendas globais
# Pontuacao da critica
# Pontuacao dos usuarios
# Classificacao
# Media de pontuacao

data['Plataforma'].astype('int64')
data['Genero'].astype('int64')
data['Vendas globais'].astype('float64')
data['Pontuacao da critica'].astype('float64')
data['Pontuacao dos usuarios'].astype('float64')
data['Classificacao'].astype('int64')
data['Media de pontuacao'].astype('float64')

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 17 columns):
Nome                      4572 non-null object
Plataforma                4572 non-null int64
Ano de lancamento         4572 non-null int64
Genero                    4572 non-null int64
Publicadora               4572 non-null int64
Vendas NA                 4572 non-null float64
Vendas EU                 4572 non-null float64
Vendas JP                 4572 non-null float64
Outras vendas             4572 non-null float64
Vendas globais            4572 non-null float64
Pontuacao da critica      4572 non-null float64
Contagem de criticas      4572 non-null float64
Pontuacao dos usuarios    4572 non-null float64
Contagem de usuarios      4572 non-null float64
Desenvolvedora            4572 non-null int64
Classificacao             4572 non-null int64
Media de pontuacao        4572 non-null float64
dtypes: float64(10), int64(6), object(1)
memory usage: 607.3+ KB

In [2]:
data.head()

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
0,Wii Sports,0,2006,0,0,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,0,0,42.00
1,Mario Kart Wii,0,2008,2,0,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,0,0,45.15
2,Wii Sports Resort,0,2009,0,0,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,0,0,44.00
3,New Super Mario Bros.,3,2006,1,0,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,0,0,48.75
4,Wii Play,0,2006,5,0,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,0,0,32.30

### Separando dados de treino e teste

In [1]:
# from sklearn.model_selection import ShuffleSplit
# rs = ShuffleSplit(test_size=0.33, random_state=42)
# df_train = pd.DataFrame(data={})
# df_test = pd.DataFrame(data={})
# columns = ['Nome', 'Plataforma', 'Ano de lancamento', 'Genero', 'Publicadora', 'Vendas NA', 'Vendas EU', 'Vendas JP',
#            'Outras vendas', 'Vendas globais', 'Pontuacao da critica', 'Contagem de criticas', 'Pontuacao dos usuarios', 
#            'Contagem de usuarios', 'Desenvolvedora', 'Classificacao', 'Media de pontuacao']
# for train_index, test_index in rs.split(data):
#     print('Train')
#     print(len(train_index))
# #     df_train.append(pd.DataFrame(data=train_index, columns=columns))
#     print('Test')
#     print(len(test_index))
# #     df_test.append(pd.DataFrame(data=test_index, columns=columns))
# #     print(data.iloc[train])
#     print('==========')
# df_train.head()

### Criando um dataframe com os atributos importantes para treino

In [3]:
# treino = pd.DataFrame(data={'Plataforma': data['Plataforma'], 'Genero': data['Genero'], 'Vendas globais': data['Vendas globais'], 'Pontuacao da critica': data['Pontuacao da critica'], 'Pontuacao dos usuarios': data['Pontuacao dos usuarios'], 'Classificacao': data['Classificacao'], 'Media de pontuacao': data['Media de pontuacao']})
treino = pd.DataFrame(data={'Plataforma': data['Plataforma'], 'Genero': data['Genero'], 'Publicadora': data['Publicadora'], 'Desenvolvedora': data['Desenvolvedora'], 'Classificacao': data['Classificacao']})

## Treinando o modelo

In [4]:
from sklearn.cluster import AffinityPropagation
clusteringAffinityPropagation = AffinityPropagation(max_iter=999).fit(treino)

## Atributos do cluster

### cluster_centers_indices_

In [5]:
print(clusteringAffinityPropagation.cluster_centers_indices_)
print("Tamanho: " , len(clusteringAffinityPropagation.cluster_centers_indices_))

[   0    1    2 ... 4563 4566 4569]
Tamanho:  1190

### cluster_centers_

In [6]:
print(clusteringAffinityPropagation.cluster_centers_)
print("Tamanho: " , len(clusteringAffinityPropagation.cluster_centers_))

[[ 0  0  0  0  0]
 [ 0  2  0  0  0]
 [ 0  0  0  0  0]
 ...
 [ 4  0  5 52  2]
 [19  0  7 18  0]
 [13  0  7 18  0]]
Tamanho:  1190

### labels_

In [7]:
print(clusteringAffinityPropagation.labels_)
print("Tamanho: " , len(clusteringAffinityPropagation.labels_))

[   0    1    2 ... 1189 1165  866]
Tamanho:  4572

### affinity_matrix_

In [8]:
print(clusteringAffinityPropagation.affinity_matrix_)
print("Tamanho: " , len(clusteringAffinityPropagation.affinity_matrix_))

[[-0.000000e+00 -4.000000e+00 -0.000000e+00 ... -5.420000e+02
  -1.020186e+06 -4.025610e+05]
 [-4.000000e+00 -0.000000e+00 -4.000000e+00 ... -5.460000e+02
  -1.020154e+06 -4.025410e+05]
 [-0.000000e+00 -4.000000e+00 -0.000000e+00 ... -5.420000e+02
  -1.020186e+06 -4.025610e+05]
 ...
 [-5.420000e+02 -5.460000e+02 -5.420000e+02 ... -0.000000e+00
  -9.818160e+05 -3.798010e+05]
 [-1.020186e+06 -1.020154e+06 -1.020186e+06 ... -9.818160e+05
  -0.000000e+00 -1.719470e+05]
 [-4.025610e+05 -4.025410e+05 -4.025610e+05 ... -3.798010e+05
  -1.719470e+05 -0.000000e+00]]
Tamanho:  4572

### n_iter_

In [9]:
print(clusteringAffinityPropagation.n_iter_)

999

# Predição

### Arbrindo arquivo de teste

In [10]:
data = pd.read_csv('teste.csv')
data.head()

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
0,Tak and the Guardians of Gross,0,2008,8,28,0.14,0.00,0.00,0.01,0.16,63.0,5.0,8.0,5.0,166,3,35.50
1,Dynasty Warriors 8: Xtreme Legends,5,2013,8,48,0.02,0.02,0.11,0.01,0.16,68.0,4.0,6.8,9.0,188,2,37.40
2,Godzilla Unleashed,0,2007,9,10,0.14,0.00,0.00,0.01,0.16,44.0,31.0,7.2,37.0,38,3,25.60
3,Sherlock Holmes vs. Jack the Ripper,4,2009,10,82,0.11,0.03,0.00,0.01,0.16,62.0,24.0,6.8,14.0,905,2,34.40
4,Sniper: Ghost Warrior,14,2010,6,86,0.00,0.13,0.00,0.03,0.16,55.0,23.0,5.5,267.0,347,1,30.25

### Criando um dataframe com os atributos importantes para teste

In [11]:
teste = pd.DataFrame(data={'Plataforma': data['Plataforma'], 'Genero': data['Genero'], 'Publicadora': data['Publicadora'], 'Desenvolvedora': data['Desenvolvedora'], 'Classificacao': data['Classificacao']})

### Criando uma nova coluna para o agrupamento

In [12]:
# def predicao(a):
#     clusteringAffinityPropagation.predict([a])
# data['Agrupamento'] = treino.apply(lambda row: predicao(row), axis=1)

In [13]:
def predicao(x):
    return clusteringAffinityPropagation.predict([x])[0]
data['Agrupamento'] = teste.apply(lambda row: predicao([row['Plataforma'], row['Genero'], row['Publicadora'], row['Desenvolvedora'], row['Classificacao']]), axis=1)

In [14]:
teste.head()

   Plataforma  Genero  Publicadora  Desenvolvedora  Classificacao
0           0       8           28             166              3
1           5       8           48             188              2
2           0       9           10              38              3
3           4      10           82             905              2
4          14       6           86             347              1

In [15]:
teste.describe()

        Plataforma       Genero  Publicadora  Desenvolvedora  Classificacao
count  2252.000000  2252.000000  2252.000000     2252.000000    2252.000000
mean     10.301066     5.597691    68.391652      604.107016       1.390764
std       5.711402     3.383362   106.377496      477.000197       1.040309
min       0.000000     0.000000     0.000000        0.000000       0.000000
25%       5.000000     3.000000     7.000000      185.000000       0.000000
50%      13.000000     6.000000    23.000000      493.000000       2.000000
75%      14.000000     8.000000    71.750000     1009.000000       2.000000
max      22.000000    11.000000   562.000000     1695.000000       7.000000

In [16]:
a = data['Agrupamento'].unique()

In [17]:
a.sort()
a

array([  42,   54,   57,   79,   84,   85,  100,  103,  106,  113,  116,
        124,  126,  142,  144,  145,  162,  163,  164,  167,  172,  173,
        174,  183,  184,  192,  193,  197,  200,  205,  210,  216,  222,
        223,  233,  234,  238,  243,  244,  245,  248,  258,  265,  268,
        274,  281,  301,  330,  348,  352,  361,  369,  372,  375,  378,
        397,  402,  408,  423,  441,  442,  443,  444,  446,  453,  456,
        458,  477,  484,  495,  504,  508,  511,  514,  517,  519,  523,
        524,  526,  529,  535,  541,  542,  550,  566,  572,  589,  592,
        594,  600,  605,  613,  615,  621,  635,  653,  665,  666,  668,
        669,  672,  674,  677,  689,  693,  696,  698,  728,  729,  737,
        739,  746,  754,  763,  766,  768,  769,  794,  795,  808,  809,
        812,  814,  820,  840,  852,  855,  856,  862,  865,  866,  870,
        887,  893,  894,  904,  911,  917,  918,  920,  925,  930,  945,
        954,  955,  959,  961,  964,  969,  973,  982,  985,  987,  990,
        991,  998, 1002, 1004, 1005, 1007, 1009, 1013, 1014, 1016, 1023,
       1030, 1031, 1034, 1038, 1042, 1049, 1053, 1054, 1057, 1068, 1069,
       1072, 1076, 1079, 1080, 1083, 1100, 1103, 1112, 1114, 1129, 1132,
       1135, 1136, 1144, 1146, 1148, 1152, 1153, 1156, 1157, 1161, 1162,
       1163, 1164, 1165, 1167, 1168, 1169, 1172, 1175, 1178, 1183])

In [19]:
clusteringAffinityPropagation.predict([[4,6,4,7,1],[5,6,4,5,1]])[0]

21

In [23]:
data[data['Agrupamento']==42]

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao,Agrupamento
864,Driver: Renegade,10,2011,2,5,0.05,0.04,0.0,0.01,0.09,48.0,13.0,5.0,20.0,12,1,26.5,42

In [ ]:
clusteringAffinityPropagation.predict([[4,6]])[0]

In [ ]:
data[data['Agrupamento']==14]