# Importando as bibliotecas e o dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

data = pd.read_csv('datasets/video-game-sales-with-ratings/Video_Games_Sales_as_at_22_Dec_2016.csv')
data.columns = ['Nome', 'Plataforma', 'Ano de lancamento', 'Genero', 'Publicadora', 'Vendas NA', 'Vendas EU', 'Vendas JP', 'Outras vendas', 'Vendas globais', 'Pontuacao da critica', 'Contagem de criticas', 'Pontuacao dos usuarios', 'Contagem de usuarios', 'Desenvolvedora', 'Classificacao']
data.head()

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

## Informações do dataset

### Informações gerais

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
Nome                      16717 non-null object
Plataforma                16719 non-null object
Ano de lancamento         16450 non-null float64
Genero                    16717 non-null object
Publicadora               16665 non-null object
Vendas NA                 16719 non-null float64
Vendas EU                 16719 non-null float64
Vendas JP                 16719 non-null float64
Outras vendas             16719 non-null float64
Vendas globais            16719 non-null float64
Pontuacao da critica      8137 non-null float64
Contagem de criticas      8137 non-null float64
Pontuacao dos usuarios    10015 non-null object
Contagem de usuarios      7590 non-null float64
Desenvolvedora            10096 non-null object
Classificacao             9950 non-null object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

### Estatísticas descritivas

In [3]:
data.describe()

,Ano de lancamento,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Contagem de usuarios
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

### Anotações imediatas

A princípio penso em focar nas colunas Genre, Platform, Global_Sales, Critic_Score, User_Score e Rating.

## Limpando os dados

### Alterando valores da coluna Gênero

In [4]:
generos = data['Genero'].copy()
generos[generos== 'Sports'] = 1
generos[generos== 'Platform'] = 2
generos[generos== 'Racing'] = 3
generos[generos== 'Role-Playing'] = 4
generos[generos== 'Puzzle'] = 5
generos[generos== 'Misc'] = 6
generos[generos== 'Shooter'] = 7
generos[generos== 'Simulation'] = 8
generos[generos== 'Action'] = 9
generos[generos== 'Fighting'] = 10
generos[generos== 'Adventure'] = 11
generos[generos== 'Strategy'] = 12
data['Genero'] = generos

### Alterando valores da coluna Platform

In [5]:
plataforma = data['Plataforma'].copy()
plataforma[plataforma == 'Wii'] = 1
plataforma[plataforma == 'NES'] = 2
plataforma[plataforma == 'GB'] = 3
plataforma[plataforma == 'DS'] = 4
plataforma[plataforma == 'X360'] = 5
plataforma[plataforma == 'PS3'] = 6
plataforma[plataforma == 'PS2'] = 7
plataforma[plataforma == 'SNES'] = 8
plataforma[plataforma == 'GBA'] = 9
plataforma[plataforma == 'PS4'] = 10
plataforma[plataforma == '3DS'] = 11
plataforma[plataforma == 'N64'] = 12
plataforma[plataforma == 'PS'] = 13
plataforma[plataforma == 'XB'] = 14
plataforma[plataforma == 'PC'] = 15
plataforma[plataforma == '2600'] = 16
plataforma[plataforma == 'PSP'] = 17
plataforma[plataforma == 'XOne'] = 18
plataforma[plataforma == 'WiiU'] = 19
plataforma[plataforma == 'GC'] = 20
plataforma[plataforma == 'GEN'] = 21
plataforma[plataforma == 'DC'] = 22
plataforma[plataforma == 'PSV'] = 23
plataforma[plataforma == 'SAT'] = 24
plataforma[plataforma == 'SCD'] = 25
plataforma[plataforma == 'WS'] = 26
plataforma[plataforma == 'NG'] = 27
plataforma[plataforma == 'TG16'] = 28
plataforma[plataforma == '3DO'] = 29
plataforma[plataforma == 'GG'] = 30
plataforma[plataforma == 'PCFX'] = 31
data['Plataforma'] = plataforma

### Alterando valores da coluna Classificação

In [6]:
#1      E
#2      M
#3      T
#4      E10+
#5      K-A
#6      AO
#7      EC
#8      RP

classificacao = data['Classificacao'].copy()
classificacao[classificacao == 'E'] = 1
classificacao[classificacao == 'M'] = 2
classificacao[classificacao == 'T'] = 3
classificacao[classificacao == 'E10+'] = 4
classificacao[classificacao == 'K-A'] = 5
classificacao[classificacao == 'AO'] = 6
classificacao[classificacao == 'EC'] = 7
classificacao[classificacao == 'RP'] = 8
data['Classificacao'] = classificacao

### Alterando valores da coluna Publicadora

In [7]:
x = data['Publicadora'].unique()
for item in range(1,len(x)+1):
    b = data[data['Publicadora']==x[item-1]]
    b['Publicadora'] = item
    data[data['Publicadora']==x[item-1]] = b

# len(data['Publicadora'].unique())

/home/jackson/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

### Alterando valores da coluna Desenvolvedora

In [8]:
x = data['Desenvolvedora'].unique()
for item in range(1,len(x)+1):
    b = data[data['Desenvolvedora']==x[item-1]]
    b['Desenvolvedora'] = item
    data[data['Desenvolvedora']==x[item-1]] = b

/home/jackson/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [9]:
data.head()

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao
0,Wii Sports,1,2006.0,1,1,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,1,1
1,Super Mario Bros.,2,1985.0,2,1,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,1,2008.0,3,1,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,1,1
3,Wii Sports Resort,1,2009.0,1,1,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,1,1
4,Pokemon Red/Pokemon Blue,3,1996.0,4,1,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
Nome                      16717 non-null object
Plataforma                16719 non-null object
Ano de lancamento         16450 non-null float64
Genero                    16717 non-null object
Publicadora               16665 non-null object
Vendas NA                 16719 non-null float64
Vendas EU                 16719 non-null float64
Vendas JP                 16719 non-null float64
Outras vendas             16719 non-null float64
Vendas globais            16719 non-null float64
Pontuacao da critica      8137 non-null float64
Contagem de criticas      8137 non-null float64
Pontuacao dos usuarios    10015 non-null object
Contagem de usuarios      7590 non-null float64
Desenvolvedora            10096 non-null object
Classificacao             9950 non-null object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

### Preenchendo valores vazios de colunas quantitativas

In [11]:
data[data['Pontuacao dos usuarios'] == 'tbd'] = 0

data['Plataforma'] = data['Plataforma'].fillna(0)
data['Ano de lancamento'] = data['Ano de lancamento'].fillna(0)
data['Genero'] = data['Genero'].fillna(0)
data['Publicadora'] = data['Publicadora'].fillna(0)
data['Vendas NA'] = data['Vendas NA'].fillna(0)
data['Vendas EU'] = data['Vendas EU'].fillna(0)
data['Vendas JP'] = data['Vendas JP'].fillna(0)
data['Outras vendas'] = data['Outras vendas'].fillna(0)
data['Vendas globais'] = data['Vendas globais'].fillna(0)
data['Pontuacao da critica'] = data['Pontuacao da critica'].fillna(0)
data['Contagem de criticas'] = data['Contagem de criticas'].fillna(0)
data['Pontuacao dos usuarios'] = data['Pontuacao dos usuarios'].fillna(0)
data['Contagem de usuarios'] = data['Contagem de usuarios'].fillna(0)
data['Desenvolvedora'] = data['Desenvolvedora'].fillna(0)
data['Classificacao'] = data['Classificacao'].fillna(0)

### 

data['Pontuacao dos usuarios'] = data['Pontuacao dos usuarios'].astype('float64')
data['Ano de lancamento'] = data['Ano de lancamento'].astype('int64')
data = data.dropna()
data = data[data['Nome'] != 0]

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14292 entries, 0 to 16718
Data columns (total 16 columns):
Nome                      14292 non-null object
Plataforma                14292 non-null int64
Ano de lancamento         14292 non-null int64
Genero                    14292 non-null int64
Publicadora               14292 non-null int64
Vendas NA                 14292 non-null float64
Vendas EU                 14292 non-null float64
Vendas JP                 14292 non-null float64
Outras vendas             14292 non-null float64
Vendas globais            14292 non-null float64
Pontuacao da critica      14292 non-null float64
Contagem de criticas      14292 non-null float64
Pontuacao dos usuarios    14292 non-null float64
Contagem de usuarios      14292 non-null float64
Desenvolvedora            14292 non-null int64
Classificacao             14292 non-null int64
dtypes: float64(9), int64(6), object(1)
memory usage: 1.9+ MB

### Criando uma coluna com as médias de pontuação

In [13]:
data['Media de pontuacao'] = 0.0
def media(x, y):
    return (x+y)/2
data['Media de pontuacao'] = data.apply(lambda row: media(row['Pontuacao da critica'], row['Pontuacao dos usuarios']), axis=1)
data.head()

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
0,Wii Sports,1,2006,1,1,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,1,1,42.00
1,Super Mario Bros.,2,1985,2,1,29.08,3.58,6.81,0.77,40.24,0.0,0.0,0.0,0.0,0,0,0.00
2,Mario Kart Wii,1,2008,3,1,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,1,1,45.15
3,Wii Sports Resort,1,2009,1,1,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,1,1,44.00
4,Pokemon Red/Pokemon Blue,3,1996,4,1,11.27,8.89,10.22,1.00,31.37,0.0,0.0,0.0,0.0,0,0,0.00

### Informações finais do Dataframe

In [14]:
data['Plataforma'].astype('int64')
data['Genero'].astype('int64')
data['Vendas globais'].astype('float64')
data['Pontuacao da critica'].astype('float64')
data['Pontuacao dos usuarios'].astype('float64')
data['Classificacao'].astype('int64')
data['Media de pontuacao'].astype('float64')

data.describe()

,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
count,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000
mean,10.135740,1975.301497,6.369018,62.028617,0.286525,0.162234,0.090316,0.052672,0.591963,34.669745,14.162259,3.783872,86.154842,206.207389,1.221103,19.226809
std,5.925674,247.636828,3.441523,104.702608,0.874510,0.540508,0.332168,0.200809,1.662698,36.445272,19.673738,3.719986,416.953656,343.819390,1.388934,19.916116
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000,2003.000000,3.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.060000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,9.000000,2007.000000,7.000000,16.000000,0.080000,0.030000,0.000000,0.010000,0.190000,0.000000,0.000000,4.300000,5.000000,23.000000,1.000000,4.125000
75%,15.000000,2011.000000,9.000000,54.000000,0.260000,0.130000,0.050000,0.040000,0.540000,72.000000,24.000000,7.600000,27.000000,272.000000,3.000000,39.750000
max,31.000000,2017.000000,12.000000,582.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,9.700000,10665.000000,1696.000000,8.000000,53.400000

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14292 entries, 0 to 16718
Data columns (total 17 columns):
Nome                      14292 non-null object
Plataforma                14292 non-null int64
Ano de lancamento         14292 non-null int64
Genero                    14292 non-null int64
Publicadora               14292 non-null int64
Vendas NA                 14292 non-null float64
Vendas EU                 14292 non-null float64
Vendas JP                 14292 non-null float64
Outras vendas             14292 non-null float64
Vendas globais            14292 non-null float64
Pontuacao da critica      14292 non-null float64
Contagem de criticas      14292 non-null float64
Pontuacao dos usuarios    14292 non-null float64
Contagem de usuarios      14292 non-null float64
Desenvolvedora            14292 non-null int64
Classificacao             14292 non-null int64
Media de pontuacao        14292 non-null float64
dtypes: float64(10), int64(6), object(1)
memory usage: 2.0+ MB

### Salvando arquivo

In [16]:
# fileCleaned = pd.DataFrame(data={'Platform': data['Platform'], 'Genre': data['Genre'], 'Global_Sales': data['Global_Sales'],
#      'Critic_Score': data['Critic_Score'], 'User_Score': data['User_Score'], 'Rating': data['Rating'], 'Score_Mean': data['Score_Mean']})
# fileCleaned.dropna().to_csv(r'fileCleaned.csv', sep=',', index=False)
data.to_csv(r'fileCleaned_na_zero.csv', sep=',', index=False)

### Abrindo o arquivo novamente

In [17]:
data = pd.read_csv('fileCleaned_na_zero.csv')
data

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
0,Wii Sports,1,2006,1,1,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,1,1,42.00
1,Super Mario Bros.,2,1985,2,1,29.08,3.58,6.81,0.77,40.24,0.0,0.0,0.0,0.0,0,0,0.00
2,Mario Kart Wii,1,2008,3,1,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,1,1,45.15
3,Wii Sports Resort,1,2009,1,1,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,1,1,44.00
4,Pokemon Red/Pokemon Blue,3,1996,4,1,11.27,8.89,10.22,1.00,31.37,0.0,0.0,0.0,0.0,0,0,0.00
5,Tetris,3,1989,5,1,23.20,2.26,4.22,0.58,30.26,0.0,0.0,0.0,0.0,0,0,0.00
6,New Super Mario Bros.,4,2006,2,1,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,1,1,48.75
7,Wii Play,1,2006,6,1,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,1,1,32.30
8,New Super Mario Bros. Wii,1,2009,2,1,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,1,1,47.70
9,Duck Hunt,2,1984,7,1,26.93,0.63,0.28,0.47,28.31,0.0,0.0,0.0,0.0,0,0,0.00
10,Nintendogs,4,2005,8,1,9.05,10.95,1.93,2.74,24.67,0.0,0.0,0.0,0.0,0,0,0.00
11,Mario Kart DS,4,2005,3,1,9.71,7.47,4.13,1.90,23.21,91.0,64.0,8.6,464.0,1,1,49.80
12,Pokemon Gold/Pokemon Silver,3,1999,4,1,9.00,6.18,7.20,0.71,23.10,0.0,0.0,0.0,0.0,0,0,0.00
13,Wii Fit,1,2007,1,1,8.92,8.03,3.60,2.15,22.70,80.0,63.0,7.7,146.0,1,1,43.85
14,Kinect Adventures!,5,2010,6,2,15.00,4.89,0.24,1.69,21.81,61.0,45.0,6.3,106.0,3,1,33.65
15,Wii Fit Plus,1,2009,1,1,9.01,8.49,2.53,1.77,21.79,80.0,33.0,7.4,52.0,1,1,43.70
16,Grand Theft Auto V,6,2013,9,3,7.02,9.09,0.98,3.96,21.04,97.0,50.0,8.2,3994.0,4,2,52.60
17,Grand Theft Auto: San Andreas,7,2004,9,3,9.43,0.40,0.41,10.57,20.81,95.0,80.0,9.0,1588.0,4,2,52.00
18,Super Mario World,8,1990,2,1,12.78,3.75,3.54,0.55,20.61,0.0,0.0,0.0,0.0,0,0,0.00
19,Brain Age: Train Your Brain in Minutes a Day,4,2005,6,1,4.74,9.20,4.16,2.04,20.15,77.0,58.0,7.9,50.0,1,1,42.45
20,Pokemon Diamond/Pokemon Pearl,4,2006,4,1,6.38,4.46,6.04,1.36,18.25,0.0,0.0,0.0,0.0,0,0,0.00
21,Super Mario Land,3,1989,2,1,10.83,2.71,4.18,0.42,18.14,0.0,0.0,0.0,0.0,0,0,0.00
22,Super Mario Bros. 3,2,1988,2,1,9.54,3.44,3.84,0.46,17.28,0.0,0.0,0.0,0.0,0,0,0.00
23,Grand Theft Auto V,5,2013,9,3,9.66,5.14,0.06,1.41,16.27,97.0,58.0,8.1,3711.0,4,2,52.55
24,Grand Theft Auto: Vice City,7,2002,9,3,8.41,5.49,0.47,1.78,16.15,95.0,62.0,8.7,730.0,4,2,51.85
25,Pokemon Ruby/Pokemon Sapphire,9,2002,4,1,6.06,3.90,5.38,0.50,15.85,0.0,0.0,0.0,0.0,0,0,0.00
26,Brain Age 2: More Training in Minutes a Day,4,2005,5,1,3.43,5.35,5.32,1.18,15.29,77.0,37.0,7.1,19.0,1,1,42.05
27,Pokemon Black/Pokemon White,4,2010,4,1,5.51,3.17,5.65,0.80,15.14,0.0,0.0,0.0,0.0,0,0,0.00
28,Gran Turismo 3: A-Spec,7,2001,3,4,6.85,5.09,1.87,1.16,14.98,95.0,54.0,8.4,314.0,5,1,51.70
29,Call of Duty: Modern Warfare 3,5,2011,7,5,9.04,4.24,0.13,1.32,14.73,88.0,81.0,3.4,8713.0,6,2,45.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14262,XI Coliseum,17,2006,5,4,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14263,Kyoukai no Shirayuki,23,2016,9,324,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14264,Worms 2,15,1997,12,97,0.00,0.01,0.00,0.00,0.01,0.0,0.0,8.1,12.0,450,5,4.05
14265,Grisaia no Kajitsu: La Fruit de la Grisaia,17,2013,11,437,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14266,Scarlett: Nichijou no Kyoukaisen,7,2008,11,155,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14267,7'scarlet,23,2016,11,324,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14268,Help Wanted: 50 Wacky Jobs (jp sales),1,2008,8,69,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14269,Yattaman Wii: BikkuriDokkiri Machine de Mou Ra...,1,2008,3,198,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14270,Neo Angelique Special,17,2008,11,49,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14271,Real Rode,7,2008,11,155,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14272,Pony Friends 2,15,2009,8,22,0.00,0.01,0.00,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14273,Dynasty Warriors: Eiketsuden,6,2016,9,49,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14274,Metal Gear Solid V: Ground Zeroes,15,2014,9,15,0.00,0.01,0.00,0.00,0.01,80.0,20.0,7.6,412.0,46,2,43.80
14275,PGA European Tour,12,2000,1,53,0.01,0.00,0.00,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14276,Carmageddon 64,12,1999,9,18,0.01,0.00,0.00,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14277,Breach,15,2011,7,161,0.01,0.00,0.00,0.00,0.01,61.0,12.0,5.8,43.0,1696,3,33.40
14278,The Longest 5 Minutes,23,2016,9,132,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14279,Mezase!! Tsuri Master DS,4,2009,1,69,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14280,Eiyuu Densetsu: Sora no Kiseki Material Collec...,17,2007,4,252,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14281,STORM: Frontline Nation,15,2011,12,54,0.00,0.01,0.00,0.00,0.01,60.0,12.0,7.2,13.0,1028,4,33.60
14282,Strawberry Nauts,23,2016,11,54,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14283,15 Days,15,2009,11,234,0.00,0.01,0.00,0.00,0.01,63.0,6.0,5.8,8.0,1312,0,34.40
14284,Aiyoku no Eustia,23,2014,6,498,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14285,Woody Woodpecker in Crazy Castle 5,9,2002,2,189,0.01,0.00,0.00,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14286,SCORE International Baja 1000: The Official Game,7,2008,3,5,0.00,0.00,0.00,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14287,Samurai Warriors: Sanada Maru,6,2016,9,49,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14288,LMA Manager 2007,5,2006,1,35,0.00,0.01,0.00,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14289,Haitaka no Psychedelica,23,2016,11,324,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14290,Spirits & Spells,9,2003,2,173,0.01,0.00,0.00,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
14291,Winning Post 8 2016,23,2016,8,49,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00

In [18]:
data.describe()

,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
count,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000
mean,10.135740,1975.301497,6.369018,62.028617,0.286525,0.162234,0.090316,0.052672,0.591963,34.669745,14.162259,3.783872,86.154842,206.207389,1.221103,19.226809
std,5.925674,247.636828,3.441523,104.702608,0.874510,0.540508,0.332168,0.200809,1.662698,36.445272,19.673738,3.719986,416.953656,343.819390,1.388934,19.916116
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000,2003.000000,3.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.060000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,9.000000,2007.000000,7.000000,16.000000,0.080000,0.030000,0.000000,0.010000,0.190000,0.000000,0.000000,4.300000,5.000000,23.000000,1.000000,4.125000
75%,15.000000,2011.000000,9.000000,54.000000,0.260000,0.130000,0.050000,0.040000,0.540000,72.000000,24.000000,7.600000,27.000000,272.000000,3.000000,39.750000
max,31.000000,2017.000000,12.000000,582.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,9.700000,10665.000000,1696.000000,8.000000,53.400000

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14292 entries, 0 to 14291
Data columns (total 17 columns):
Nome                      14292 non-null object
Plataforma                14292 non-null int64
Ano de lancamento         14292 non-null int64
Genero                    14292 non-null int64
Publicadora               14292 non-null int64
Vendas NA                 14292 non-null float64
Vendas EU                 14292 non-null float64
Vendas JP                 14292 non-null float64
Outras vendas             14292 non-null float64
Vendas globais            14292 non-null float64
Pontuacao da critica      14292 non-null float64
Contagem de criticas      14292 non-null float64
Pontuacao dos usuarios    14292 non-null float64
Contagem de usuarios      14292 non-null float64
Desenvolvedora            14292 non-null int64
Classificacao             14292 non-null int64
Media de pontuacao        14292 non-null float64
dtypes: float64(10), int64(6), object(1)
memory usage: 1.9+ MB

# Separando dados de treino e teste

In [20]:
from sklearn.model_selection import ShuffleSplit
rs = ShuffleSplit(n_splits=1, test_size=0.33, random_state=42)
array_train = []
array_test = []
columns = ['Nome', 'Plataforma', 'Ano de lancamento', 'Genero', 'Publicadora', 'Vendas NA', 'Vendas EU', 'Vendas JP',
           'Outras vendas', 'Vendas globais', 'Pontuacao da critica', 'Contagem de criticas', 'Pontuacao dos usuarios', 
           'Contagem de usuarios', 'Desenvolvedora', 'Classificacao', 'Media de pontuacao']

for train_index, test_index in rs.split(data):
    #Treino
    array_train.append(train_index)
    #df_treino = pd.DataFrame(data={'Plataforma': [], 'Genero': [], 'Classificacao': []})
    ar_treino = []
    ar_teste = []
    for x in train_index:
        dict_treino = {'Plataforma': data.loc[x,'Plataforma'], 'Genero': data.loc[x,'Genero'], 'Classificacao': data.loc[x,'Classificacao']}
        ar_treino.append(dict_treino)
    df_treino = pd.DataFrame(data=ar_treino)
    for x in test_index:
        dict_teste = {'Nome': data.loc[x,'Nome'], 'Plataforma': data.loc[x,'Plataforma'],
                       'Ano de lancamento': data.loc[x,'Ano de lancamento'], 'Genero': data.loc[x,'Genero'],
                       'Publicadora': data.loc[x,'Publicadora'], 'Vendas NA': data.loc[x,'Vendas NA'],
                       'Vendas EU': data.loc[x,'Vendas EU'], 'Vendas JP': data.loc[x,'Vendas JP'],
                       'Outras vendas': data.loc[x,'Outras vendas'], 'Vendas globais': data.loc[x,'Vendas globais'],
                       'Pontuacao da critica': data.loc[x,'Pontuacao da critica'], 'Contagem de criticas': data.loc[x,'Contagem de criticas'],
                       'Pontuacao dos usuarios': data.loc[x,'Pontuacao dos usuarios'], 'Contagem de usuarios': data.loc[x,'Contagem de usuarios'],
                       'Desenvolvedora': data.loc[x,'Desenvolvedora'], 'Classificacao': data.loc[x,'Classificacao'],
                       'Media de pontuacao': data.loc[x,'Media de pontuacao']}
        ar_teste.append(dict_teste)
    df_teste = pd.DataFrame(data=ar_teste)
    
df_treino.to_csv(r'treino.csv', sep=',', index=False)
df_teste.to_csv(r'teste.csv', sep=',', index=False)

In [21]:
treino = pd.read_csv('treino.csv')
treino

      Classificacao  Genero  Plataforma
0                 2       9           7
1                 0      11          13
2                 0       7           5
3                 2       4           5
4                 3       4          17
5                 3       9           6
6                 3       7           7
7                 2       7          15
8                 0       1           1
9                 3      10           5
10                2       4           6
11                0       1           1
12                4       9           5
13                1       2           4
14                0       1           7
15                0       9          20
16                0       6           4
17                2       4          15
18                0      10           7
19                3       6           1
20                1       8           1
21                0       9          13
22                0       9           7
23                3       7          20
24                0       1           7
25                0       9          11
26                1       8          20
27                0       9           1
28                1       1           6
29                3       3           7
...             ...     ...         ...
9545              0       8          11
9546              3       7           1
9547              0       4           9
9548              3       3           7
9549              0       4           7
9550              3       8           1
9551              4       2          18
9552              3       4           7
9553              0       3          12
9554              1       1           6
9555              0       1           4
9556              1       1           1
9557              0       2           8
9558              1       1           7
9559              0      10          13
9560              4       6           5
9561              1       2          20
9562              1      12           4
9563              0       6           4
9564              0      10          10
9565              0       1           7
9566              2       9          14
9567              2      10           7
9568              0      10           7
9569              0      12          13
9570              2       9           5
9571              0       8           1
9572              0       9          16
9573              0       1           2
9574              0      10           6

[9575 rows x 3 columns]

In [22]:
treino.describe()

       Classificacao       Genero   Plataforma
count    9575.000000  9575.000000  9575.000000
mean        1.217755     6.396658    10.187572
std         1.389363     3.438096     5.927466
min         0.000000     1.000000     1.000000
25%         0.000000     3.000000     5.000000
50%         1.000000     7.000000     9.000000
75%         3.000000     9.000000    15.000000
max         8.000000    12.000000    31.000000

In [23]:
treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9575 entries, 0 to 9574
Data columns (total 3 columns):
Classificacao    9575 non-null int64
Genero           9575 non-null int64
Plataforma       9575 non-null int64
dtypes: int64(3)
memory usage: 224.5 KB

In [24]:
teste = pd.read_csv('teste.csv')
teste

,Ano de lancamento,Classificacao,Contagem de criticas,Contagem de usuarios,Desenvolvedora,Genero,Media de pontuacao,Nome,Outras vendas,Plataforma,Pontuacao da critica,Pontuacao dos usuarios,Publicadora,Vendas EU,Vendas JP,Vendas NA,Vendas globais
0,0,3,19.0,12.0,251,4,30.25,Virtua Quest,0.00,20,55.0,5.5,54,0.00,0.00,0.01,0.01
1,2008,4,11.0,6.0,261,11,32.90,Bolt,0.02,6,59.0,6.8,33,0.04,0.00,0.12,0.19
2,0,2,16.0,1096.0,190,9,42.00,Dead Space 3,0.02,15,78.0,6.0,8,0.16,0.00,0.02,0.19
3,2006,0,0.0,0.0,0,11,0.00,Kamaitachi no Yoru 2: Tokubetsu Hen,0.00,17,0.0,0.0,121,0.00,0.01,0.00,0.01
4,2007,1,21.0,11.0,1398,5,38.75,Nervous Brickdown,0.00,4,70.0,7.5,22,0.01,0.00,0.00,0.02
5,2001,1,16.0,0.0,783,5,44.00,Bomberman Tournament,0.01,9,88.0,0.0,5,0.04,0.10,0.10,0.25
6,2010,0,0.0,0.0,0,6,0.00,Atari's Greatest Hits: Volume 1,0.01,4,0.0,0.0,11,0.00,0.00,0.13,0.14
7,1998,0,0.0,0.0,0,1,0.00,NHL FaceOff 2000,0.02,13,0.0,0.0,4,0.12,0.00,0.17,0.31
8,2002,1,24.0,65.0,86,1,51.05,World Soccer Winning Eleven 6 International,0.45,7,93.0,9.1,15,1.26,1.16,0.12,2.99
9,2010,0,0.0,0.0,0,9,0.00,Bakugan: Battle Trainer,0.01,4,0.0,0.0,5,0.00,0.00,0.12,0.13
10,2010,2,74.0,267.0,215,9,44.50,Just Cause 2,0.17,5,81.0,8.0,16,0.83,0.02,0.59,1.60
11,1995,0,0.0,0.0,0,1,0.00,International Superstar Soccer Deluxe,0.00,8,0.0,0.0,15,0.00,0.16,0.00,0.16
12,1999,0,0.0,0.0,0,8,0.00,Nuclear Strike 64,0.00,12,0.0,0.0,29,0.02,0.00,0.09,0.11
13,2008,3,61.0,87.0,163,10,39.75,Mortal Kombat vs. DC Universe,0.16,5,72.0,7.5,40,0.23,0.00,1.53,1.93
14,2010,1,5.0,27.0,1461,8,27.60,Ship Simulator Extremes,0.01,15,49.0,6.2,311,0.04,0.00,0.00,0.05
15,2010,0,0.0,0.0,0,9,0.00,Kung Zhu,0.02,4,0.0,0.0,5,0.00,0.00,0.26,0.28
16,2015,0,0.0,0.0,0,7,0.00,Call of Duty: Black Ops 3,0.68,18,0.0,0.0,5,2.11,0.01,4.59,7.39
17,1994,0,0.0,0.0,0,3,0.00,Daytona USA,0.00,24,0.0,0.0,9,0.00,0.55,0.00,0.55
18,2012,0,0.0,0.0,0,9,0.00,Fatal Frame 2: Wii Edition,0.00,1,0.0,0.0,1,0.00,0.10,0.00,0.10
19,2011,0,0.0,0.0,0,6,0.00,Start the Party! Save the World,0.02,6,0.0,0.0,4,0.08,0.00,0.00,0.10
20,2015,0,0.0,0.0,0,11,0.00,Chaos;Child,0.00,10,0.0,0.0,358,0.00,0.01,0.00,0.01
21,2007,3,42.0,22.0,189,9,33.70,Dynasty Warriors 6,0.02,5,60.0,7.4,49,0.06,0.06,0.15,0.30
22,0,3,49.0,66.0,47,4,45.95,Final Fantasy XI,0.02,7,85.0,6.9,54,0.06,0.15,0.08,0.32
23,2010,4,6.0,4.0,390,6,25.65,Dance on Broadway,0.12,1,48.0,3.3,6,0.65,0.00,0.25,1.02
24,2005,1,0.0,23.0,70,1,4.10,World Soccer Winning Eleven 9,0.77,7,0.0,8.2,15,2.26,0.90,0.12,4.06
25,2007,1,19.0,7.0,277,1,39.35,Major League Baseball 2K7,0.02,6,74.0,4.7,131,0.00,0.00,0.23,0.25
26,2010,3,11.0,5.0,876,8,22.10,Naval Assault: The Killing Tide,0.02,5,40.0,4.2,12,0.07,0.00,0.08,0.17
27,2005,4,22.0,120.0,126,2,28.80,Shadow The Hedgehog,0.03,20,51.0,6.6,9,0.20,0.00,0.76,0.99
28,2012,0,0.0,0.0,0,9,0.00,Natalie Brooks: Mystery at Hillcrest High,0.00,4,0.0,0.0,521,0.02,0.00,0.00,0.02
29,2006,4,7.0,4.0,777,11,41.90,Snoopy vs the Red Baron,0.00,17,76.0,7.8,26,0.00,0.00,0.04,0.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4687,2006,1,30.0,31.0,422,1,45.95,MLB 06: The Show,0.13,7,83.0,8.9,4,0.03,0.00,0.78,0.94
4688,2013,2,82.0,6157.0,587,12,41.05,Company of Heroes 2,0.04,15,80.0,2.1,29,0.25,0.00,0.06,0.34
4689,2012,4,44.0,86.0,23,1,44.80,NHL 13,0.05,5,83.0,6.6,8,0.10,0.00,0.51,0.66
4690,2011,3,4.0,14.0,1201,8,25.55,JASF: Jane's Advanced Strike Fighters,0.00,15,48.0,3.1,42,0.01,0.00,0.02,0.04
4691,2004,1,20.0,6.0,922,1,42.40,Hamtaro: Ham-Ham Games,0.00,9,77.0,7.8,1,0.06,0.00,0.16,0.22
4692,2008,0,0.0,0.0,0,1,0.00,Football Manager Handheld 2009,0.02,17,0.0,0.0,9,0.47,0.00,0.00,0.48
4693,2006,3,19.0,6.0,776,12,26.40,SNK vs. Capcom Card Fighters DS,0.01,4,48.0,4.8,154,0.00,0.00,0.09,0.10
4694,2005,3,54.0,23.0,299,9,43.15,Project: Snowblind,0.03,7,78.0,8.3,22,0.08,0.00,0.10,0.21
4695,1997,0,0.0,0.0,0,8,0.00,MechWarrior 2: 31st Century Combat,0.02,13,0.0,0.0,5,0.14,0.00,0.20,0.36
4696,2008,0,0.0,0.0,0,9,0.00,Chokkan! Asonde Relaxuma,0.00,4,0.0,0.0,139,0.00,0.01,0.00,0.01
4697,1998,0,0.0,0.0,0,9,0.00,Tiny Tank,0.02,13,0.0,0.0,4,0.13,0.00,0.19,0.34
4698,2006,4,26.0,15.0,295,3,44.60,TOCA Race Driver 3,0.01,7,82.0,7.2,35,0.03,0.00,0.04,0.08
4699,2003,3,24.0,13.0,544,2,32.60,X2: Wolverine's Revenge,0.08,7,58.0,7.2,5,0.24,0.00,0.31,0.64
4700,0,2,33.0,13.0,204,10,46.25,Def Jam: Fight for NY,0.02,14,84.0,8.5,8,0.10,0.00,0.43,0.54
4701,1994,0,0.0,0.0,0,1,0.00,Kirby's Dream Course,0.00,8,0.0,0.0,1,0.00,0.59,0.00,0.59
4702,2011,0,0.0,0.0,0,6,0.00,Pop'n Music Portable 2,0.00,17,0.0,0.0,15,0.00,0.06,0.00,0.06
4703,2007,0,0.0,0.0,0,9,0.00,Busou Renkin: Youkoso Papillon Park e,0.00,7,0.0,0.0,215,0.00,0.02,0.00,0.02
4704,2007,0,0.0,0.0,0,9,0.00,Avatar: The Last Airbender - The Burning Earth,0.01,5,0.0,0.0,29,0.01,0.00,0.11,0.13
4705,2003,3,26.0,47.0,157,10,42.35,WWE Wrestlemania XIX,0.01,20,76.0,8.7,29,0.07,0.00,0.26,0.33
4706,2014,4,4.0,18.0,141,9,46.55,Skylanders: Trap Team,0.06,19,86.0,7.1,5,0.26,0.00,0.38,0.70
4707,2002,3,23.0,12.0,23,1,42.05,Knockout Kings 2002,0.12,7,76.0,8.1,8,0.35,0.00,0.45,0.91
4708,2005,0,0.0,0.0,0,9,0.00,Shrek SuperSlam,0.01,4,0.0,0.0,5,0.00,0.00,0.17,0.18
4709,2011,2,7.0,33.0,1041,9,30.50,The Cursed Crusade,0.01,15,55.0,6.0,234,0.03,0.00,0.00,0.03
4710,2001,0,0.0,0.0,0,11,0.00,Taiho Shichauzo!,0.00,13,0.0,0.0,187,0.00,0.05,0.00,0.05
4711,1998,0,0.0,0.0,0,1,0.00,NFL Quarterback Club 99,0.00,12,0.0,0.0,31,0.02,0.00,0.59,0.62
4712,0,3,26.0,15.0,51,2,37.95,Haven: Call of the King,0.04,7,69.0,6.9,40,0.11,0.00,0.14,0.28
4713,2004,1,35.0,6.0,295,3,45.25,Colin McRae Rally 2005,0.00,14,83.0,7.5,35,0.01,0.00,0.04,0.05
4714,2013,2,5.0,148.0,406,9,41.40,Tom Clancy's Splinter Cell: Blacklist,0.01,19,75.0,7.8,6,0.07,0.00,0.04,0.12
4715,2009,0,0.0,0.0,0,7,0.00,Sin and Punishment: Star Successor,0.03,1,0.0,0.0,1,0.14,0.06,0.19,0.42
4716,2011,0,0.0,0.0,0,1,0.00,Pro Yaky? Spirits 2011,0.00,17,0.0,0.0,15,0.00,0.24,0.00,0.24

In [25]:
teste.describe()

,Ano de lancamento,Classificacao,Contagem de criticas,Contagem de usuarios,Desenvolvedora,Genero,Media de pontuacao,Outras vendas,Plataforma,Pontuacao da critica,Pontuacao dos usuarios,Publicadora,Vendas EU,Vendas JP,Vendas NA,Vendas globais
count,4717.000000,4717.000000,4717.000000,4717.000000,4717.000000,4717.000000,4717.000000,4717.000000,4717.000000,4717.000000,4717.000000,4717.000000,4717.000000,4717.000000,4717.000000,4717.000000
mean,1975.257367,1.227899,14.428238,87.984312,206.959084,6.312911,19.331270,0.056010,10.030528,34.863261,3.799279,61.912444,0.169347,0.095241,0.295813,0.616519
std,247.752416,1.388185,20.061530,444.607830,346.972354,3.448154,19.924709,0.251452,5.921268,36.468859,3.715898,103.823708,0.658819,0.333970,0.968660,1.938877
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,5.000000,0.000000,0.000000,8.000000,0.000000,0.000000,0.000000,0.070000
50%,2007.000000,1.000000,0.000000,5.000000,23.000000,7.000000,4.150000,0.010000,8.000000,0.000000,4.400000,16.000000,0.030000,0.000000,0.080000,0.190000
75%,2011.000000,3.000000,24.000000,28.000000,276.000000,9.000000,39.750000,0.040000,14.000000,72.000000,7.600000,54.000000,0.130000,0.060000,0.260000,0.540000
max,2017.000000,8.000000,107.000000,10665.000000,1695.000000,12.000000,52.700000,10.570000,30.000000,97.000000,9.600000,581.000000,28.960000,5.650000,41.360000,82.530000

In [26]:
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4717 entries, 0 to 4716
Data columns (total 17 columns):
Ano de lancamento         4717 non-null int64
Classificacao             4717 non-null int64
Contagem de criticas      4717 non-null float64
Contagem de usuarios      4717 non-null float64
Desenvolvedora            4717 non-null int64
Genero                    4717 non-null int64
Media de pontuacao        4717 non-null float64
Nome                      4717 non-null object
Outras vendas             4717 non-null float64
Plataforma                4717 non-null int64
Pontuacao da critica      4717 non-null float64
Pontuacao dos usuarios    4717 non-null float64
Publicadora               4717 non-null int64
Vendas EU                 4717 non-null float64
Vendas JP                 4717 non-null float64
Vendas NA                 4717 non-null float64
Vendas globais            4717 non-null float64
dtypes: float64(10), int64(6), object(1)
memory usage: 626.6+ KB