# Importando as bibliotecas e o dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

data = pd.read_csv('datasets/video-game-sales-with-ratings/Video_Games_Sales_as_at_22_Dec_2016.csv')
data.columns = ['Nome', 'Plataforma', 'Ano de lancamento', 'Genero', 'Publicadora', 'Vendas NA', 'Vendas EU', 'Vendas JP', 'Outras vendas', 'Vendas globais', 'Pontuacao da critica', 'Contagem de criticas', 'Pontuacao dos usuarios', 'Contagem de usuarios', 'Desenvolvedora', 'Classificacao']
data.head()

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

## Informações do dataset

### Informações gerais

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
Nome                      16717 non-null object
Plataforma                16719 non-null object
Ano de lancamento         16450 non-null float64
Genero                    16717 non-null object
Publicadora               16665 non-null object
Vendas NA                 16719 non-null float64
Vendas EU                 16719 non-null float64
Vendas JP                 16719 non-null float64
Outras vendas             16719 non-null float64
Vendas globais            16719 non-null float64
Pontuacao da critica      8137 non-null float64
Contagem de criticas      8137 non-null float64
Pontuacao dos usuarios    10015 non-null object
Contagem de usuarios      7590 non-null float64
Desenvolvedora            10096 non-null object
Classificacao             9950 non-null object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

### Estatísticas descritivas

In [3]:
data.describe()

,Ano de lancamento,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Contagem de usuarios
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

### Anotações imediatas

A princípio penso em focar nas colunas Genre, Platform, Global_Sales, Critic_Score, User_Score e Rating.

## Limpando os dados

### Alterando valores da coluna Gênero

In [4]:
generos = data['Genero'].copy()
generos[generos== 'Sports'] = 1
generos[generos== 'Platform'] = 2
generos[generos== 'Racing'] = 3
generos[generos== 'Role-Playing'] = 4
generos[generos== 'Puzzle'] = 5
generos[generos== 'Misc'] = 6
generos[generos== 'Shooter'] = 7
generos[generos== 'Simulation'] = 8
generos[generos== 'Action'] = 9
generos[generos== 'Fighting'] = 10
generos[generos== 'Adventure'] = 11
generos[generos== 'Strategy'] = 12
data['Genero'] = generos

### Alterando valores da coluna Platform

In [5]:
plataforma = data['Plataforma'].copy()
plataforma[plataforma == 'Wii'] = 1
plataforma[plataforma == 'NES'] = 2
plataforma[plataforma == 'GB'] = 3
plataforma[plataforma == 'DS'] = 4
plataforma[plataforma == 'X360'] = 5
plataforma[plataforma == 'PS3'] = 6
plataforma[plataforma == 'PS2'] = 7
plataforma[plataforma == 'SNES'] = 8
plataforma[plataforma == 'GBA'] = 9
plataforma[plataforma == 'PS4'] = 10
plataforma[plataforma == '3DS'] = 11
plataforma[plataforma == 'N64'] = 12
plataforma[plataforma == 'PS'] = 13
plataforma[plataforma == 'XB'] = 14
plataforma[plataforma == 'PC'] = 15
plataforma[plataforma == '2600'] = 16
plataforma[plataforma == 'PSP'] = 17
plataforma[plataforma == 'XOne'] = 18
plataforma[plataforma == 'WiiU'] = 19
plataforma[plataforma == 'GC'] = 20
plataforma[plataforma == 'GEN'] = 21
plataforma[plataforma == 'DC'] = 22
plataforma[plataforma == 'PSV'] = 23
plataforma[plataforma == 'SAT'] = 24
plataforma[plataforma == 'SCD'] = 25
plataforma[plataforma == 'WS'] = 26
plataforma[plataforma == 'NG'] = 27
plataforma[plataforma == 'TG16'] = 28
plataforma[plataforma == '3DO'] = 29
plataforma[plataforma == 'GG'] = 30
plataforma[plataforma == 'PCFX'] = 31
data['Plataforma'] = plataforma

### Alterando valores da coluna Classificação

In [6]:
#1      E
#2      M
#3      T
#4      E10+
#5      K-A
#6      AO
#7      EC
#8      RP

classificacao = data['Classificacao'].copy()
classificacao[classificacao == 'E'] = 1
classificacao[classificacao == 'M'] = 2
classificacao[classificacao == 'T'] = 3
classificacao[classificacao == 'E10+'] = 4
classificacao[classificacao == 'K-A'] = 5
classificacao[classificacao == 'AO'] = 6
classificacao[classificacao == 'EC'] = 7
classificacao[classificacao == 'RP'] = 8
data['Classificacao'] = classificacao

### Alterando valores da coluna Publicadora

In [7]:
x = data['Publicadora'].unique()
for item in range(1,len(x)+1):
    b = data[data['Publicadora']==x[item-1]]
    b['Publicadora'] = item
    data[data['Publicadora']==x[item-1]] = b

# len(data['Publicadora'].unique())

/home/jackson/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

### Alterando valores da coluna Desenvolvedora

In [8]:
x = data['Desenvolvedora'].unique()
for item in range(1,len(x)+1):
    b = data[data['Desenvolvedora']==x[item-1]]
    b['Desenvolvedora'] = item
    data[data['Desenvolvedora']==x[item-1]] = b

/home/jackson/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [9]:
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
Nome                      16717 non-null object
Plataforma                16719 non-null object
Ano de lancamento         16450 non-null float64
Genero                    16717 non-null object
Publicadora               16665 non-null object
Vendas NA                 16719 non-null float64
Vendas EU                 16719 non-null float64
Vendas JP                 16719 non-null float64
Outras vendas             16719 non-null float64
Vendas globais            16719 non-null float64
Pontuacao da critica      8137 non-null float64
Contagem de criticas      8137 non-null float64
Pontuacao dos usuarios    10015 non-null object
Contagem de usuarios      7590 non-null float64
Desenvolvedora            10096 non-null object
Classificacao             9950 non-null object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

### Preenchendo valores vazios de colunas quantitativas

In [10]:
data[data['Pontuacao dos usuarios'] == 'tbd'] = 0

data['Plataforma'] = data['Plataforma'].fillna(0)
data['Ano de lancamento'] = data['Ano de lancamento'].fillna(0)
data['Genero'] = data['Genero'].fillna(0)
data['Publicadora'] = data['Publicadora'].fillna(0)
data['Vendas NA'] = data['Vendas NA'].fillna(0)
data['Vendas EU'] = data['Vendas EU'].fillna(0)
data['Vendas JP'] = data['Vendas JP'].fillna(0)
data['Outras vendas'] = data['Outras vendas'].fillna(0)
data['Vendas globais'] = data['Vendas globais'].fillna(0)
data['Pontuacao da critica'] = data['Pontuacao da critica'].fillna(0)
data['Contagem de criticas'] = data['Contagem de criticas'].fillna(0)
data['Pontuacao dos usuarios'] = data['Pontuacao dos usuarios'].fillna(0)
data['Contagem de usuarios'] = data['Contagem de usuarios'].fillna(0)
data['Desenvolvedora'] = data['Desenvolvedora'].fillna(0)
data['Classificacao'] = data['Classificacao'].fillna(0)

### 

data['Pontuacao dos usuarios'] = data['Pontuacao dos usuarios'].astype('float64')
data = data.dropna()

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
Nome                      16717 non-null object
Plataforma                16719 non-null int64
Ano de lancamento         16719 non-null float64
Genero                    16719 non-null int64
Publicadora               16719 non-null int64
Vendas NA                 16719 non-null float64
Vendas EU                 16719 non-null float64
Vendas JP                 16719 non-null float64
Outras vendas             16719 non-null float64
Vendas globais            16719 non-null float64
Pontuacao da critica      16719 non-null float64
Contagem de criticas      16719 non-null float64
Pontuacao dos usuarios    16719 non-null float64
Contagem de usuarios      16719 non-null float64
Desenvolvedora            16719 non-null int64
Classificacao             16719 non-null int64
dtypes: float64(10), int64(5), object(1)
memory usage: 2.0+ MB

### Criando uma coluna com as médias de pontuação

In [14]:
data['Media de pontuacao'] = 0.0
def media(x, y):
    return (x+y)/2
data['Media de pontuacao'] = data.apply(lambda row: media(row['Pontuacao da critica'], row['Pontuacao dos usuarios']), axis=1)
data.head()

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
0,Wii Sports,1,2006,1,1,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,1,1,42.00
1,Super Mario Bros.,2,1985,2,1,29.08,3.58,6.81,0.77,40.24,0.0,0.0,0.0,0.0,0,0,0.00
2,Mario Kart Wii,1,2008,3,1,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,1,1,45.15
3,Wii Sports Resort,1,2009,1,1,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,1,1,44.00
4,Pokemon Red/Pokemon Blue,3,1996,4,1,11.27,8.89,10.22,1.00,31.37,0.0,0.0,0.0,0.0,0,0,0.00

### Informações finais do Dataframe

In [15]:
data.describe()

,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
count,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000
mean,8.666906,1688.796878,5.444464,53.027992,0.245039,0.138715,0.077207,0.045031,0.506176,29.636940,12.106406,3.234589,73.648245,176.273461,1.043842,16.435765
std,6.540212,732.326899,3.893410,99.238891,0.814905,0.503002,0.308755,0.186586,1.551421,35.841271,18.861506,3.688653,386.695153,326.078983,1.354298,19.619997
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,1998.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.030000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.000000,2006.000000,6.000000,13.000000,0.040000,0.010000,0.000000,0.010000,0.130000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,14.000000,2010.000000,9.000000,42.000000,0.210000,0.100000,0.030000,0.030000,0.440000,69.000000,20.000000,7.300000,20.000000,208.000000,2.000000,38.150000
max,31.000000,2017.000000,12.000000,582.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,9.700000,10665.000000,1696.000000,8.000000,53.400000

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 17 columns):
Nome                      16717 non-null object
Plataforma                16719 non-null int64
Ano de lancamento         16719 non-null int64
Genero                    16719 non-null int64
Publicadora               16719 non-null int64
Vendas NA                 16719 non-null float64
Vendas EU                 16719 non-null float64
Vendas JP                 16719 non-null float64
Outras vendas             16719 non-null float64
Vendas globais            16719 non-null float64
Pontuacao da critica      16719 non-null float64
Contagem de criticas      16719 non-null float64
Pontuacao dos usuarios    16719 non-null float64
Contagem de usuarios      16719 non-null float64
Desenvolvedora            16719 non-null int64
Classificacao             16719 non-null int64
Media de pontuacao        16719 non-null float64
dtypes: float64(10), int64(6), object(1)
memory usage: 2.2+ MB

### Salvando arquivo

In [17]:
# fileCleaned = pd.DataFrame(data={'Platform': data['Platform'], 'Genre': data['Genre'], 'Global_Sales': data['Global_Sales'],
#      'Critic_Score': data['Critic_Score'], 'User_Score': data['User_Score'], 'Rating': data['Rating'], 'Score_Mean': data['Score_Mean']})
# fileCleaned.dropna().to_csv(r'fileCleaned.csv', sep=',', index=False)
data.to_csv(r'fileCleaned_na_zero.csv', sep=',', index=False)

### Abrindo o arquivo novamente

In [18]:
data = pd.read_csv('fileCleaned_na_zero.csv')
data

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
0,Wii Sports,1,2006,1,1,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,1,1,42.00
1,Super Mario Bros.,2,1985,2,1,29.08,3.58,6.81,0.77,40.24,0.0,0.0,0.0,0.0,0,0,0.00
2,Mario Kart Wii,1,2008,3,1,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,1,1,45.15
3,Wii Sports Resort,1,2009,1,1,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,1,1,44.00
4,Pokemon Red/Pokemon Blue,3,1996,4,1,11.27,8.89,10.22,1.00,31.37,0.0,0.0,0.0,0.0,0,0,0.00
5,Tetris,3,1989,5,1,23.20,2.26,4.22,0.58,30.26,0.0,0.0,0.0,0.0,0,0,0.00
6,New Super Mario Bros.,4,2006,2,1,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,1,1,48.75
7,Wii Play,1,2006,6,1,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,1,1,32.30
8,New Super Mario Bros. Wii,1,2009,2,1,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,1,1,47.70
9,Duck Hunt,2,1984,7,1,26.93,0.63,0.28,0.47,28.31,0.0,0.0,0.0,0.0,0,0,0.00
10,Nintendogs,4,2005,8,1,9.05,10.95,1.93,2.74,24.67,0.0,0.0,0.0,0.0,0,0,0.00
11,Mario Kart DS,4,2005,3,1,9.71,7.47,4.13,1.90,23.21,91.0,64.0,8.6,464.0,1,1,49.80
12,Pokemon Gold/Pokemon Silver,3,1999,4,1,9.00,6.18,7.20,0.71,23.10,0.0,0.0,0.0,0.0,0,0,0.00
13,Wii Fit,1,2007,1,1,8.92,8.03,3.60,2.15,22.70,80.0,63.0,7.7,146.0,1,1,43.85
14,Kinect Adventures!,5,2010,6,2,15.00,4.89,0.24,1.69,21.81,61.0,45.0,6.3,106.0,3,1,33.65
15,Wii Fit Plus,1,2009,1,1,9.01,8.49,2.53,1.77,21.79,80.0,33.0,7.4,52.0,1,1,43.70
16,Grand Theft Auto V,6,2013,9,3,7.02,9.09,0.98,3.96,21.04,97.0,50.0,8.2,3994.0,4,2,52.60
17,Grand Theft Auto: San Andreas,7,2004,9,3,9.43,0.40,0.41,10.57,20.81,95.0,80.0,9.0,1588.0,4,2,52.00
18,Super Mario World,8,1990,2,1,12.78,3.75,3.54,0.55,20.61,0.0,0.0,0.0,0.0,0,0,0.00
19,Brain Age: Train Your Brain in Minutes a Day,4,2005,6,1,4.74,9.20,4.16,2.04,20.15,77.0,58.0,7.9,50.0,1,1,42.45
20,Pokemon Diamond/Pokemon Pearl,4,2006,4,1,6.38,4.46,6.04,1.36,18.25,0.0,0.0,0.0,0.0,0,0,0.00
21,Super Mario Land,3,1989,2,1,10.83,2.71,4.18,0.42,18.14,0.0,0.0,0.0,0.0,0,0,0.00
22,Super Mario Bros. 3,2,1988,2,1,9.54,3.44,3.84,0.46,17.28,0.0,0.0,0.0,0.0,0,0,0.00
23,Grand Theft Auto V,5,2013,9,3,9.66,5.14,0.06,1.41,16.27,97.0,58.0,8.1,3711.0,4,2,52.55
24,Grand Theft Auto: Vice City,7,2002,9,3,8.41,5.49,0.47,1.78,16.15,95.0,62.0,8.7,730.0,4,2,51.85
25,Pokemon Ruby/Pokemon Sapphire,9,2002,4,1,6.06,3.90,5.38,0.50,15.85,0.0,0.0,0.0,0.0,0,0,0.00
26,Brain Age 2: More Training in Minutes a Day,4,2005,5,1,3.43,5.35,5.32,1.18,15.29,77.0,37.0,7.1,19.0,1,1,42.05
27,Pokemon Black/Pokemon White,4,2010,4,1,5.51,3.17,5.65,0.80,15.14,0.0,0.0,0.0,0.0,0,0,0.00
28,Gran Turismo 3: A-Spec,7,2001,3,4,6.85,5.09,1.87,1.16,14.98,95.0,54.0,8.4,314.0,5,1,51.70
29,Call of Duty: Modern Warfare 3,5,2011,7,5,9.04,4.24,0.13,1.32,14.73,88.0,81.0,3.4,8713.0,6,2,45.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16689,Help Wanted: 50 Wacky Jobs (jp sales),1,2008,8,69,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
16690,Yattaman Wii: BikkuriDokkiri Machine de Mou Ra...,1,2008,3,198,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
16691,Neo Angelique Special,17,2008,11,49,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
16692,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0,0,0.00
16693,Real Rode,7,2008,11,155,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
16694,Pony Friends 2,15,2009,8,22,0.00,0.01,0.00,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
16695,Dynasty Warriors: Eiketsuden,6,2016,9,49,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
16696,Metal Gear Solid V: Ground Zeroes,15,2014,9,15,0.00,0.01,0.00,0.00,0.01,80.0,20.0,7.6,412.0,46,2,43.80
16697,PGA European Tour,12,2000,1,53,0.01,0.00,0.00,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
16698,Carmageddon 64,12,1999,9,18,0.01,0.00,0.00,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
16699,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0,0,0.00
16700,Breach,15,2011,7,161,0.01,0.00,0.00,0.00,0.01,61.0,12.0,5.8,43.0,1696,3,33.40
16701,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0,0,0.00
16702,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0,0,0.00
16703,The Longest 5 Minutes,23,2016,9,132,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
16704,Mezase!! Tsuri Master DS,4,2009,1,69,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
16705,Eiyuu Densetsu: Sora no Kiseki Material Collec...,17,2007,4,252,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
16706,STORM: Frontline Nation,15,2011,12,54,0.00,0.01,0.00,0.00,0.01,60.0,12.0,7.2,13.0,1028,4,33.60
16707,Strawberry Nauts,23,2016,11,54,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
16708,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0,0,0.00
16709,15 Days,15,2009,11,234,0.00,0.01,0.00,0.00,0.01,63.0,6.0,5.8,8.0,1312,0,34.40
16710,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0,0,0.00
16711,Aiyoku no Eustia,23,2014,6,498,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
16712,Woody Woodpecker in Crazy Castle 5,9,2002,2,189,0.01,0.00,0.00,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
16713,SCORE International Baja 1000: The Official Game,7,2008,3,5,0.00,0.00,0.00,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
16714,Samurai Warriors: Sanada Maru,6,2016,9,49,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
16715,LMA Manager 2007,5,2006,1,35,0.00,0.01,0.00,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
16716,Haitaka no Psychedelica,23,2016,11,324,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
16717,Spirits & Spells,9,2003,2,173,0.01,0.00,0.00,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00
16718,Winning Post 8 2016,23,2016,8,49,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0,0.00

In [19]:
data.describe()

,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
count,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000
mean,8.666906,1688.796878,5.444464,53.027992,0.245039,0.138715,0.077207,0.045031,0.506176,29.636940,12.106406,3.234589,73.648245,176.273461,1.043842,16.435765
std,6.540212,732.326899,3.893410,99.238891,0.814905,0.503002,0.308755,0.186586,1.551421,35.841271,18.861506,3.688653,386.695153,326.078983,1.354298,19.619997
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,1998.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.030000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.000000,2006.000000,6.000000,13.000000,0.040000,0.010000,0.000000,0.010000,0.130000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,14.000000,2010.000000,9.000000,42.000000,0.210000,0.100000,0.030000,0.030000,0.440000,69.000000,20.000000,7.300000,20.000000,208.000000,2.000000,38.150000
max,31.000000,2017.000000,12.000000,582.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,9.700000,10665.000000,1696.000000,8.000000,53.400000

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 17 columns):
Nome                      16717 non-null object
Plataforma                16719 non-null int64
Ano de lancamento         16719 non-null int64
Genero                    16719 non-null int64
Publicadora               16719 non-null int64
Vendas NA                 16719 non-null float64
Vendas EU                 16719 non-null float64
Vendas JP                 16719 non-null float64
Outras vendas             16719 non-null float64
Vendas globais            16719 non-null float64
Pontuacao da critica      16719 non-null float64
Contagem de criticas      16719 non-null float64
Pontuacao dos usuarios    16719 non-null float64
Contagem de usuarios      16719 non-null float64
Desenvolvedora            16719 non-null int64
Classificacao             16719 non-null int64
Media de pontuacao        16719 non-null float64
dtypes: float64(10), int64(6), object(1)
memory usage: 2.2+ MB

### Separando dados de treino e teste

In [43]:
from sklearn.model_selection import GroupShuffleSplit
rs = GroupShuffleSplit(n_splits=5, train_size=0.67, random_state=42)
df_train = pd.DataFrame(data={})
df_test = pd.DataFrame(data={})
for train_index, test_index in rs.split(data):
    print(train_index)
    df_train.append(pd.DataFrame(data=train_index))
    print(test_index)
    df_test.append(pd.DataFrame(data=test_index))
    print('==========')
df_train.head()

/home/jackson/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:1372: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

ValueError: The 'groups' parameter should not be None.

In [21]:
# 4.573 de treino
# 2.252 de teste

data.iloc[0:4572, 0:].to_csv(r'treino.csv', sep=',', index=False)
data.iloc[4573:, 0:].to_csv(r'teste.csv', sep=',', index=False)
treino = pd.read_csv('treino.csv')
treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 17 columns):
Nome                      4571 non-null object
Plataforma                4572 non-null int64
Ano de lancamento         4572 non-null int64
Genero                    4572 non-null int64
Publicadora               4572 non-null int64
Vendas NA                 4572 non-null float64
Vendas EU                 4572 non-null float64
Vendas JP                 4572 non-null float64
Outras vendas             4572 non-null float64
Vendas globais            4572 non-null float64
Pontuacao da critica      4572 non-null float64
Contagem de criticas      4572 non-null float64
Pontuacao dos usuarios    4572 non-null float64
Contagem de usuarios      4572 non-null float64
Desenvolvedora            4572 non-null int64
Classificacao             4572 non-null int64
Media de pontuacao        4572 non-null float64
dtypes: float64(10), int64(6), object(1)
memory usage: 607.3+ KB

In [22]:
treino.describe()

,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
count,4572.000000,4572.000000,4572.000000,4572.000000,4572.00000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000
mean,8.331584,1871.902450,5.429790,16.566273,0.76259,0.443397,0.204921,0.144405,1.555210,46.588801,22.865486,4.768001,188.163605,116.902668,1.434383,25.678401
std,5.450506,499.681606,3.469291,24.818479,1.43008,0.890402,0.561068,0.336373,2.693252,38.208208,25.010924,3.693106,660.417276,161.870918,1.366803,20.801958
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000,2000.000000,2.000000,4.000000,0.24000,0.070000,0.000000,0.030000,0.560000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.000000,2006.000000,6.000000,8.000000,0.44000,0.220000,0.000000,0.070000,0.890000,66.000000,16.000000,6.600000,19.000000,46.000000,1.000000,36.675000
75%,13.000000,2010.000000,9.000000,20.000000,0.84000,0.470000,0.140000,0.150000,1.600000,81.000000,40.000000,8.000000,90.000000,181.000000,3.000000,44.100000
max,26.000000,2016.000000,12.000000,180.000000,41.36000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,9.600000,10665.000000,694.000000,6.000000,53.150000

In [23]:
teste = pd.read_csv('teste.csv')
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12146 entries, 0 to 12145
Data columns (total 17 columns):
Nome                      12145 non-null object
Plataforma                12146 non-null int64
Ano de lancamento         12146 non-null int64
Genero                    12146 non-null int64
Publicadora               12146 non-null int64
Vendas NA                 12146 non-null float64
Vendas EU                 12146 non-null float64
Vendas JP                 12146 non-null float64
Outras vendas             12146 non-null float64
Vendas globais            12146 non-null float64
Pontuacao da critica      12146 non-null float64
Contagem de criticas      12146 non-null float64
Pontuacao dos usuarios    12146 non-null float64
Contagem de usuarios      12146 non-null float64
Desenvolvedora            12146 non-null int64
Classificacao             12146 non-null int64
Media de pontuacao        12146 non-null float64
dtypes: float64(10), int64(6), object(1)
memory usage: 1.6+ MB

In [24]:
teste.describe()

,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
count,12146.000000,12146.000000,12146.000000,12146.000000,12146.000000,12146.000000,12146.000000,12146.000000,12146.000000,12146.000000,12146.000000,12146.000000,12146.000000,12146.000000,12146.000000,12146.000000
mean,8.792771,1619.846369,5.450354,66.751935,0.050223,0.024025,0.029139,0.007626,0.111306,23.258357,8.057467,2.657649,30.548411,198.636341,0.896921,12.958003
std,6.902135,791.758802,4.041617,112.409598,0.074827,0.042254,0.065521,0.014883,0.113781,32.709338,13.938794,3.518112,186.785556,366.976890,1.320047,17.965214
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,1997.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.000000,2006.000000,6.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.070000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,14.000000,2010.000000,9.000000,60.000000,0.080000,0.030000,0.020000,0.010000,0.180000,60.000000,13.000000,6.700000,10.000000,243.000000,2.000000,33.250000
max,31.000000,2017.000000,12.000000,582.000000,0.420000,0.390000,0.420000,0.280000,0.420000,98.000000,104.000000,9.700000,9851.000000,1696.000000,8.000000,53.400000