# Importando as bibliotecas e o dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

data = pd.read_csv('datasets/video-game-sales-with-ratings/Video_Games_Sales_as_at_22_Dec_2016.csv')
data.columns = ['Nome', 'Plataforma', 'Ano de lancamento', 'Genero', 'Publicadora', 'Vendas NA', 'Vendas EU', 'Vendas JP', 'Outras vendas', 'Vendas globais', 'Pontuacao da critica', 'Contagem de criticas', 'Pontuacao dos usuarios', 'Contagem de usuarios', 'Desenvolvedora', 'Classificacao']
data.head()

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

## Informações do dataset

### Informações gerais

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
Nome                      16717 non-null object
Plataforma                16719 non-null object
Ano de lancamento         16450 non-null float64
Genero                    16717 non-null object
Publicadora               16665 non-null object
Vendas NA                 16719 non-null float64
Vendas EU                 16719 non-null float64
Vendas JP                 16719 non-null float64
Outras vendas             16719 non-null float64
Vendas globais            16719 non-null float64
Pontuacao da critica      8137 non-null float64
Contagem de criticas      8137 non-null float64
Pontuacao dos usuarios    10015 non-null object
Contagem de usuarios      7590 non-null float64
Desenvolvedora            10096 non-null object
Classificacao             9950 non-null object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

### Estatísticas descritivas

In [3]:
data.describe()

,Ano de lancamento,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Contagem de usuarios
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

### Anotações imediatas

A princípio penso em focar nas colunas Genre, Platform, Global_Sales, Critic_Score, User_Score e Rating.

## Limpando os dados

### Alterando valores da coluna Gênero

In [4]:
generos = data['Genero'].copy()
generos[generos== 'Sports'] = 0
generos[generos== 'Platform'] = 1
generos[generos== 'Racing'] = 2
generos[generos== 'Role-Playing'] = 3
generos[generos== 'Puzzle'] = 4
generos[generos== 'Misc'] = 5
generos[generos== 'Shooter'] = 6
generos[generos== 'Simulation'] = 7
generos[generos== 'Action'] = 8
generos[generos== 'Fighting'] = 9
generos[generos== 'Adventure'] = 10
generos[generos== 'Strategy'] = 11
data['Genero'] = generos

### Alterando valores da coluna Platform

In [5]:
plataforma = data['Plataforma'].copy()
plataforma[plataforma == 'Wii'] = 0
plataforma[plataforma == 'NES'] = 1
plataforma[plataforma == 'GB'] = 2
plataforma[plataforma == 'DS'] = 3
plataforma[plataforma == 'X360'] = 4
plataforma[plataforma == 'PS3'] = 5
plataforma[plataforma == 'PS2'] = 6
plataforma[plataforma == 'SNES'] = 7
plataforma[plataforma == 'GBA'] = 8
plataforma[plataforma == 'PS4'] = 9
plataforma[plataforma == '3DS'] = 10
plataforma[plataforma == 'N64'] = 11
plataforma[plataforma == 'PS'] = 12
plataforma[plataforma == 'XB'] = 13
plataforma[plataforma == 'PC'] = 14
plataforma[plataforma == '2600'] = 15
plataforma[plataforma == 'PSP'] = 16
plataforma[plataforma == 'XOne'] = 17
plataforma[plataforma == 'WiiU'] = 18
plataforma[plataforma == 'GC'] = 19
plataforma[plataforma == 'GEN'] = 20
plataforma[plataforma == 'DC'] = 21
plataforma[plataforma == 'PSV'] = 22
plataforma[plataforma == 'SAT'] = 23
plataforma[plataforma == 'SCD'] = 24
plataforma[plataforma == 'WS'] = 25
plataforma[plataforma == 'NG'] = 26
plataforma[plataforma == 'TG16'] = 27
plataforma[plataforma == '3DO'] = 28
plataforma[plataforma == 'GG'] = 29
plataforma[plataforma == 'PCFX'] = 30
data['Plataforma'] = plataforma

### Alterando valores da coluna Classificação

In [6]:
#1      E
#2      M
#3      T
#4      E10+
#5      K-A
#6      AO
#7      EC
#8      RP

classificacao = data['Classificacao'].copy()
classificacao[classificacao == 'E'] = 0
classificacao[classificacao == 'M'] = 1
classificacao[classificacao == 'T'] = 2
classificacao[classificacao == 'E10+'] = 3
classificacao[classificacao == 'K-A'] = 4
classificacao[classificacao == 'AO'] = 5
classificacao[classificacao == 'EC'] = 6
classificacao[classificacao == 'RP'] = 7
data['Classificacao'] = classificacao

### Alterando valores da coluna Publicadora

In [7]:
x = data['Publicadora'].unique()
for item in range(len(x)):
    b = data[data['Publicadora']==x[item]]
    b['Publicadora'] = item
    data[data['Publicadora']==x[item]] = b

/home/jackson/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

### Alterando valores da coluna Desenvolvedora

In [8]:
x = data['Desenvolvedora'].unique()
for item in range(len(x)):
    b = data[data['Desenvolvedora']==x[item]]
    b['Desenvolvedora'] = item
    data[data['Desenvolvedora']==x[item]] = b

/home/jackson/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

### Preenchendo valores vazios de colunas quantitativas

In [9]:
# data['Pontuação da crítica'] = data['Pontuação da crítica'].fillna(data['Pontuação da crítica'].mean())
# data['Contagem de críticas'] = data['Contagem de críticas'].fillna(data['Contagem de críticas'].mean())
# data['Contagem de usuários'] = data['Contagem de usuários'].fillna(data['Contagem de usuários'].mean())
# # Falta apenas 'Pontuação dos usuários'

data[data['Pontuacao dos usuarios'] == 'tbd'] = np.nan
data['Pontuacao dos usuarios'] = data['Pontuacao dos usuarios'].astype('float64')
# data['Pontuação dos usuários'] = data['Pontuação dos usuários'].fillna(data['Pontuação dos usuários'].mean())

### Preenchendo valores vazios de colunas qualitativas

In [10]:
# data['Plataforma'].median()

### Retirando valores vazios restantes

In [11]:
# data.dropna()
# data.describe()
# data['Contagem de usuários'].notnull().sum()
data = data.dropna()
data['Ano de lancamento'] = data['Ano de lancamento'].astype('int64')

### Criando uma coluna com as médias de pontuação

In [12]:
data['Media de pontuacao'] = 0.0
def media(x, y):
    return (x+y)/2
data['Media de pontuacao'] = data.apply(lambda row: media(row['Pontuacao da critica'], row['Pontuacao dos usuarios']), axis=1)
data.head()

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
0,Wii Sports,0,2006,0,0,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,0,0,42.00
2,Mario Kart Wii,0,2008,2,0,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,0,0,45.15
3,Wii Sports Resort,0,2009,0,0,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,0,0,44.00
6,New Super Mario Bros.,3,2006,1,0,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,0,0,48.75
7,Wii Play,0,2006,5,0,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,0,0,32.30

### Informações finais do Dataframe

In [13]:
data.describe()

,Ano de lancamento,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Media de pontuacao
count,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000
mean,2007.436777,0.394484,0.236089,0.064158,0.082677,0.777590,70.272088,28.931136,7.185626,174.722344,38.728857
std,4.211248,0.967385,0.687330,0.287570,0.269871,1.963443,13.868572,19.224165,1.439942,587.428538,7.375442
min,1985.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,0.500000,4.000000,7.000000
25%,2004.000000,0.060000,0.020000,0.000000,0.010000,0.110000,62.000000,14.000000,6.500000,11.000000,34.450000
50%,2007.000000,0.150000,0.060000,0.000000,0.020000,0.290000,72.000000,25.000000,7.500000,27.000000,39.900000
75%,2011.000000,0.390000,0.210000,0.010000,0.070000,0.750000,80.000000,39.000000,8.200000,89.000000,44.150000
max,2016.000000,41.360000,28.960000,6.500000,10.570000,82.530000,98.000000,113.000000,9.600000,10665.000000,53.400000

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6825 entries, 0 to 16706
Data columns (total 17 columns):
Nome                      6825 non-null object
Plataforma                6825 non-null object
Ano de lancamento         6825 non-null int64
Genero                    6825 non-null object
Publicadora               6825 non-null object
Vendas NA                 6825 non-null float64
Vendas EU                 6825 non-null float64
Vendas JP                 6825 non-null float64
Outras vendas             6825 non-null float64
Vendas globais            6825 non-null float64
Pontuacao da critica      6825 non-null float64
Contagem de criticas      6825 non-null float64
Pontuacao dos usuarios    6825 non-null float64
Contagem de usuarios      6825 non-null float64
Desenvolvedora            6825 non-null object
Classificacao             6825 non-null object
Media de pontuacao        6825 non-null float64
dtypes: float64(10), int64(1), object(6)
memory usage: 959.8+ KB

### Salvando arquivo

In [15]:
# fileCleaned = pd.DataFrame(data={'Platform': data['Platform'], 'Genre': data['Genre'], 'Global_Sales': data['Global_Sales'],
#      'Critic_Score': data['Critic_Score'], 'User_Score': data['User_Score'], 'Rating': data['Rating'], 'Score_Mean': data['Score_Mean']})
# fileCleaned.dropna().to_csv(r'fileCleaned.csv', sep=',', index=False)
data.to_csv(r'fileCleaned.csv', sep=',', index=False)

### Abrindo o arquivo novamente

In [16]:
data = pd.read_csv('fileCleaned.csv')
data

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
0,Wii Sports,0,2006,0,0,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,0,0,42.00
1,Mario Kart Wii,0,2008,2,0,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,0,0,45.15
2,Wii Sports Resort,0,2009,0,0,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,0,0,44.00
3,New Super Mario Bros.,3,2006,1,0,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,0,0,48.75
4,Wii Play,0,2006,5,0,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,0,0,32.30
5,New Super Mario Bros. Wii,0,2009,1,0,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,0,0,47.70
6,Mario Kart DS,3,2005,2,0,9.71,7.47,4.13,1.90,23.21,91.0,64.0,8.6,464.0,0,0,49.80
7,Wii Fit,0,2007,0,0,8.92,8.03,3.60,2.15,22.70,80.0,63.0,7.7,146.0,0,0,43.85
8,Kinect Adventures!,4,2010,5,1,15.00,4.89,0.24,1.69,21.81,61.0,45.0,6.3,106.0,2,0,33.65
9,Wii Fit Plus,0,2009,0,0,9.01,8.49,2.53,1.77,21.79,80.0,33.0,7.4,52.0,0,0,43.70
10,Grand Theft Auto V,5,2013,8,2,7.02,9.09,0.98,3.96,21.04,97.0,50.0,8.2,3994.0,3,1,52.60
11,Grand Theft Auto: San Andreas,6,2004,8,2,9.43,0.40,0.41,10.57,20.81,95.0,80.0,9.0,1588.0,3,1,52.00
12,Brain Age: Train Your Brain in Minutes a Day,3,2005,5,0,4.74,9.20,4.16,2.04,20.15,77.0,58.0,7.9,50.0,0,0,42.45
13,Grand Theft Auto V,4,2013,8,2,9.66,5.14,0.06,1.41,16.27,97.0,58.0,8.1,3711.0,3,1,52.55
14,Grand Theft Auto: Vice City,6,2002,8,2,8.41,5.49,0.47,1.78,16.15,95.0,62.0,8.7,730.0,3,1,51.85
15,Brain Age 2: More Training in Minutes a Day,3,2005,4,0,3.43,5.35,5.32,1.18,15.29,77.0,37.0,7.1,19.0,0,0,42.05
16,Gran Turismo 3: A-Spec,6,2001,2,3,6.85,5.09,1.87,1.16,14.98,95.0,54.0,8.4,314.0,4,0,51.70
17,Call of Duty: Modern Warfare 3,4,2011,6,4,9.04,4.24,0.13,1.32,14.73,88.0,81.0,3.4,8713.0,5,1,45.70
18,Call of Duty: Black Ops,4,2010,6,4,9.70,3.68,0.11,1.13,14.61,87.0,89.0,6.3,1454.0,6,1,46.65
19,Call of Duty: Black Ops II,5,2012,6,4,4.99,5.73,0.65,2.42,13.79,83.0,21.0,5.3,922.0,6,1,44.15
20,Call of Duty: Black Ops II,4,2012,6,4,8.25,4.24,0.07,1.12,13.67,83.0,73.0,4.8,2256.0,6,1,43.90
21,Call of Duty: Modern Warfare 2,4,2009,6,4,8.52,3.59,0.08,1.28,13.47,94.0,100.0,6.3,2698.0,7,1,50.15
22,Call of Duty: Modern Warfare 3,5,2011,6,4,5.54,5.73,0.49,1.57,13.32,88.0,39.0,3.2,5234.0,5,1,45.60
23,Grand Theft Auto III,6,2001,8,2,6.99,4.51,0.30,1.30,13.10,97.0,56.0,8.5,664.0,8,1,52.75
24,Super Smash Bros. Brawl,0,2008,9,0,6.62,2.55,2.66,1.01,12.84,93.0,81.0,8.9,1662.0,9,2,50.95
25,Mario Kart 7,10,2011,2,0,5.03,4.02,2.69,0.91,12.66,85.0,73.0,8.2,632.0,10,0,46.60
26,Call of Duty: Black Ops,5,2010,6,4,5.99,4.37,0.48,1.79,12.63,88.0,58.0,6.4,1094.0,6,1,47.20
27,Grand Theft Auto V,9,2014,8,2,3.96,6.31,0.38,1.97,12.61,97.0,66.0,8.3,2899.0,3,1,52.65
28,Animal Crossing: Wild World,3,2005,7,0,2.50,3.45,5.33,0.86,12.13,86.0,57.0,8.7,242.0,0,0,47.35
29,Halo 3,4,2007,6,1,7.97,2.81,0.13,1.21,12.12,94.0,86.0,7.8,4100.0,11,1,50.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6795,Ride 2,14,2016,2,452,0.00,0.01,0.00,0.00,0.01,78.0,4.0,7.9,14.0,723,0,42.95
6796,Art Academy: Home Studio,18,2015,5,0,0.00,0.00,0.01,0.00,0.01,82.0,9.0,8.3,20.0,159,0,45.15
6797,Icewind Dale II,14,2002,3,117,0.00,0.01,0.00,0.00,0.01,83.0,22.0,8.3,147.0,521,2,45.65
6798,Dungeons 2,9,2016,3,206,0.01,0.00,0.00,0.00,0.01,61.0,9.0,7.9,14.0,515,2,34.45
6799,Pro Evolution Soccer 2010,14,2009,0,14,0.00,0.01,0.00,0.00,0.01,78.0,8.0,6.9,49.0,69,0,42.45
6800,Hoshigami: Ruining Blue Earth Remix,3,2007,3,11,0.00,0.00,0.01,0.00,0.01,55.0,13.0,7.9,11.0,372,2,31.45
6801,Carmageddon: Max Damage,9,2016,8,541,0.01,0.00,0.00,0.00,0.01,51.0,28.0,5.5,39.0,888,1,28.25
6802,Alone in the Dark,14,2008,10,10,0.00,0.01,0.00,0.00,0.01,55.0,19.0,5.7,148.0,480,1,30.35
6803,Clive Barker's Jericho,14,2007,6,34,0.00,0.01,0.00,0.00,0.01,63.0,25.0,7.5,218.0,794,1,35.25
6804,Madagascar: Escape 2 Africa,14,2008,8,4,0.01,0.00,0.00,0.00,0.01,58.0,6.0,8.0,4.0,973,3,33.00
6805,Wade Hixton's Counter Punch,8,2004,0,203,0.01,0.00,0.00,0.00,0.01,78.0,13.0,9.5,4.0,1690,2,43.75
6806,Sega Rally Revo,14,2007,2,8,0.00,0.01,0.00,0.00,0.01,74.0,9.0,7.6,18.0,550,0,40.80
6807,Egg Mania: Eggstreme Madness,19,2002,4,188,0.01,0.00,0.00,0.00,0.01,64.0,7.0,8.0,4.0,1039,0,36.00
6808,The Eye of Judgment: Legends,16,2010,11,3,0.00,0.00,0.01,0.00,0.01,69.0,17.0,7.9,16.0,212,3,38.45
6809,King's Bounty: Armored Princess,14,2009,3,431,0.00,0.01,0.00,0.00,0.01,82.0,25.0,8.6,158.0,1691,2,45.30
6810,Transformers: Fall of Cybertron,14,2012,8,4,0.01,0.00,0.00,0.00,0.01,78.0,13.0,7.9,121.0,1692,2,42.95
6811,Micro Machines V4,6,2006,2,34,0.01,0.00,0.00,0.00,0.01,64.0,35.0,6.8,8.0,1208,0,35.40
6812,Saints Row: Gat out of Hell,17,2015,8,41,0.00,0.01,0.00,0.00,0.01,65.0,16.0,6.0,27.0,119,1,35.50
6813,Dragon Ball Z for Kinect,4,2012,9,25,0.01,0.00,0.00,0.00,0.01,49.0,32.0,2.1,39.0,256,2,25.55
6814,Legacy of Kain: Defiance,14,2003,8,21,0.00,0.01,0.00,0.00,0.01,70.0,11.0,8.7,67.0,330,1,39.35
6815,Trine,14,2009,8,125,0.00,0.01,0.00,0.00,0.01,80.0,50.0,8.2,488.0,1511,3,44.10
6816,Karnaaj Rally,8,2003,2,163,0.01,0.00,0.00,0.00,0.01,81.0,9.0,9.5,4.0,1693,0,45.25
6817,Sébastien Loeb Rally Evo,17,2016,2,452,0.00,0.01,0.00,0.00,0.01,63.0,8.0,8.2,22.0,723,0,35.60
6818,Hospital Tycoon,14,2007,11,34,0.00,0.01,0.00,0.00,0.01,51.0,8.0,3.8,29.0,1694,3,27.40
6819,Fast Racing Neo,18,2016,8,0,0.00,0.01,0.00,0.00,0.01,81.0,46.0,8.5,151.0,659,0,44.75
6820,E.T. The Extra-Terrestrial,8,2001,8,213,0.01,0.00,0.00,0.00,0.01,46.0,4.0,2.4,21.0,1423,0,24.20
6821,Mortal Kombat: Deadly Alliance,8,2002,9,39,0.01,0.00,0.00,0.00,0.01,81.0,12.0,8.8,9.0,139,1,44.90
6822,Metal Gear Solid V: Ground Zeroes,14,2014,8,14,0.00,0.01,0.00,0.00,0.01,80.0,20.0,7.6,412.0,45,1,43.80
6823,Breach,14,2011,6,160,0.01,0.00,0.00,0.00,0.01,61.0,12.0,5.8,43.0,1695,2,33.40
6824,STORM: Frontline Nation,14,2011,11,53,0.00,0.01,0.00,0.00,0.01,60.0,12.0,7.2,13.0,1027,3,33.60

In [17]:
data.describe()

,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
count,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000
mean,8.705055,2007.436777,5.159707,36.187692,0.394484,0.236089,0.064158,0.082677,0.777590,70.272088,28.931136,7.185626,174.722344,370.457582,1.317656,38.728857
std,5.668051,4.211248,3.350953,71.185116,0.967385,0.687330,0.287570,0.269871,1.963443,13.868572,19.224165,1.439942,587.428538,379.488000,1.051942,7.375442
min,0.000000,1985.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,0.500000,4.000000,0.000000,0.000000,7.000000
25%,4.000000,2004.000000,2.000000,5.000000,0.060000,0.020000,0.000000,0.010000,0.110000,62.000000,14.000000,6.500000,11.000000,72.000000,0.000000,34.450000
50%,6.000000,2007.000000,6.000000,10.000000,0.150000,0.060000,0.000000,0.020000,0.290000,72.000000,25.000000,7.500000,27.000000,237.000000,1.000000,39.900000
75%,14.000000,2011.000000,8.000000,28.000000,0.390000,0.210000,0.010000,0.070000,0.750000,80.000000,39.000000,8.200000,89.000000,551.000000,2.000000,44.150000
max,22.000000,2016.000000,11.000000,562.000000,41.360000,28.960000,6.500000,10.570000,82.530000,98.000000,113.000000,9.600000,10665.000000,1695.000000,7.000000,53.400000

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6825 entries, 0 to 6824
Data columns (total 17 columns):
Nome                      6825 non-null object
Plataforma                6825 non-null int64
Ano de lancamento         6825 non-null int64
Genero                    6825 non-null int64
Publicadora               6825 non-null int64
Vendas NA                 6825 non-null float64
Vendas EU                 6825 non-null float64
Vendas JP                 6825 non-null float64
Outras vendas             6825 non-null float64
Vendas globais            6825 non-null float64
Pontuacao da critica      6825 non-null float64
Contagem de criticas      6825 non-null float64
Pontuacao dos usuarios    6825 non-null float64
Contagem de usuarios      6825 non-null float64
Desenvolvedora            6825 non-null int64
Classificacao             6825 non-null int64
Media de pontuacao        6825 non-null float64
dtypes: float64(10), int64(6), object(1)
memory usage: 906.5+ KB

### Separando dados de treino e teste

In [19]:
# 4.573 de treino
# 2.252 de teste
data.iloc[0:4572, 0:].to_csv(r'treino.csv', sep=',', index=False)
data.iloc[4573:, 0:].to_csv(r'teste.csv', sep=',', index=False)
treino = pd.read_csv('treino.csv')
treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 17 columns):
Nome                      4572 non-null object
Plataforma                4572 non-null int64
Ano de lancamento         4572 non-null int64
Genero                    4572 non-null int64
Publicadora               4572 non-null int64
Vendas NA                 4572 non-null float64
Vendas EU                 4572 non-null float64
Vendas JP                 4572 non-null float64
Outras vendas             4572 non-null float64
Vendas globais            4572 non-null float64
Pontuacao da critica      4572 non-null float64
Contagem de criticas      4572 non-null float64
Pontuacao dos usuarios    4572 non-null float64
Contagem de usuarios      4572 non-null float64
Desenvolvedora            4572 non-null int64
Classificacao             4572 non-null int64
Media de pontuacao        4572 non-null float64
dtypes: float64(10), int64(6), object(1)
memory usage: 607.3+ KB

In [20]:
treino.describe()

,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
count,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000
mean,7.920166,2007.479440,4.942913,20.330052,0.566881,0.342325,0.093371,0.120597,1.123077,72.739939,33.001094,7.304528,219.865048,255.217629,1.281496,40.022233
std,5.479020,4.161871,3.313559,35.067104,1.142970,0.819061,0.347455,0.323034,2.322223,12.843110,20.494398,1.329328,677.443473,250.319099,1.055941,6.799346
min,0.000000,1994.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.160000,19.000000,3.000000,1.200000,4.000000,0.000000,0.000000,10.950000
25%,4.000000,2004.000000,2.000000,4.000000,0.150000,0.050000,0.000000,0.020000,0.290000,65.000000,17.000000,6.600000,15.000000,57.000000,0.000000,36.050000
50%,6.000000,2008.000000,6.000000,7.000000,0.280000,0.140000,0.000000,0.050000,0.540000,75.000000,29.000000,7.600000,36.000000,171.000000,1.000000,41.050000
75%,13.000000,2011.000000,8.000000,23.000000,0.590000,0.340000,0.040000,0.110000,1.130000,82.000000,46.000000,8.300000,118.000000,370.250000,2.000000,45.000000
max,22.000000,2016.000000,11.000000,295.000000,41.360000,28.960000,6.500000,10.570000,82.530000,98.000000,113.000000,9.600000,10665.000000,1068.000000,5.000000,53.400000

In [21]:
teste = pd.read_csv('teste.csv')
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2252 entries, 0 to 2251
Data columns (total 17 columns):
Nome                      2252 non-null object
Plataforma                2252 non-null int64
Ano de lancamento         2252 non-null int64
Genero                    2252 non-null int64
Publicadora               2252 non-null int64
Vendas NA                 2252 non-null float64
Vendas EU                 2252 non-null float64
Vendas JP                 2252 non-null float64
Outras vendas             2252 non-null float64
Vendas globais            2252 non-null float64
Pontuacao da critica      2252 non-null float64
Contagem de criticas      2252 non-null float64
Pontuacao dos usuarios    2252 non-null float64
Contagem de usuarios      2252 non-null float64
Desenvolvedora            2252 non-null int64
Classificacao             2252 non-null int64
Media de pontuacao        2252 non-null float64
dtypes: float64(10), int64(6), object(1)
memory usage: 299.2+ KB

In [22]:
teste.describe()

,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
count,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000
mean,10.301066,2007.349911,5.597691,68.391652,0.044645,0.020511,0.004831,0.005728,0.076456,65.264654,20.670515,6.943961,83.142096,604.107016,1.390764,36.104307
std,5.711402,4.310282,3.383362,106.377496,0.036741,0.021053,0.017077,0.006299,0.041997,14.514079,12.865596,1.615546,318.800561,477.000197,1.040309,7.793288
min,0.000000,1985.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,4.000000,0.500000,4.000000,0.000000,0.000000,7.000000
25%,5.000000,2004.000000,3.000000,7.000000,0.010000,0.000000,0.000000,0.000000,0.040000,57.000000,11.000000,6.200000,7.000000,185.000000,0.000000,31.737500
50%,13.000000,2007.000000,6.000000,23.000000,0.040000,0.020000,0.000000,0.010000,0.070000,67.000000,18.000000,7.300000,15.000000,493.000000,2.000000,37.300000
75%,14.000000,2010.000000,8.000000,71.750000,0.070000,0.030000,0.000000,0.010000,0.110000,76.000000,28.000000,8.100000,41.000000,1009.000000,2.000000,41.862500
max,22.000000,2016.000000,11.000000,562.000000,0.140000,0.140000,0.150000,0.030000,0.160000,96.000000,83.000000,9.600000,9851.000000,1695.000000,7.000000,52.650000