# Importando as bibliotecas e o dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

data = pd.read_csv('datasets/video-game-sales-with-ratings/Video_Games_Sales_as_at_22_Dec_2016.csv')
data.columns = ['Nome', 'Plataforma', 'Ano de lançamento', 'Gênero', 'Publicadora', 'Vendas NA', 'Vendas EU', 'Vendas JP', 'Outras vendas', 'Vendas globais', 'Pontuação da crítica', 'Contagem de críticas', 'Pontuação dos usuários', 'Contagem de usuários', 'Desenvolvedora', 'Classificação']
data.head()

,Nome,Plataforma,Ano de lançamento,Gênero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuação da crítica,Contagem de críticas,Pontuação dos usuários,Contagem de usuários,Desenvolvedora,Classificação
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

## Informações do dataset

### Informações gerais

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
Nome                      16717 non-null object
Plataforma                16719 non-null object
Ano de lançamento         16450 non-null float64
Gênero                    16717 non-null object
Publicadora               16665 non-null object
Vendas NA                 16719 non-null float64
Vendas EU                 16719 non-null float64
Vendas JP                 16719 non-null float64
Outras vendas             16719 non-null float64
Vendas globais            16719 non-null float64
Pontuação da crítica      8137 non-null float64
Contagem de críticas      8137 non-null float64
Pontuação dos usuários    10015 non-null object
Contagem de usuários      7590 non-null float64
Desenvolvedora            10096 non-null object
Classificação             9950 non-null object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

### Estatísticas descritivas

In [3]:
data.describe()

,Ano de lançamento,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuação da crítica,Contagem de críticas,Contagem de usuários
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

### Anotações imediatas

A princípio penso em focar nas colunas Genre, Platform, Global_Sales, Critic_Score, User_Score e Rating.

## Limpando os dados

### Alterando valores da coluna Gênero

In [4]:
generos = data['Gênero'].copy()
generos[generos== 'Sports'] = 0
generos[generos== 'Platform'] = 1
generos[generos== 'Racing'] = 2
generos[generos== 'Role-Playing'] = 3
generos[generos== 'Puzzle'] = 4
generos[generos== 'Misc'] = 5
generos[generos== 'Shooter'] = 6
generos[generos== 'Simulation'] = 7
generos[generos== 'Action'] = 8
generos[generos== 'Fighting'] = 9
generos[generos== 'Adventure'] = 10
generos[generos== 'Strategy'] = 11
data['Gênero'] = generos

### Alterando valores da coluna Platform

In [5]:
plataforma = data['Plataforma'].copy()
plataforma[plataforma == 'Wii'] = 0
plataforma[plataforma == 'NES'] = 1
plataforma[plataforma == 'GB'] = 2
plataforma[plataforma == 'DS'] = 3
plataforma[plataforma == 'X360'] = 4
plataforma[plataforma == 'PS3'] = 5
plataforma[plataforma == 'PS2'] = 6
plataforma[plataforma == 'SNES'] = 7
plataforma[plataforma == 'GBA'] = 8
plataforma[plataforma == 'PS4'] = 9
plataforma[plataforma == '3DS'] = 10
plataforma[plataforma == 'N64'] = 11
plataforma[plataforma == 'PS'] = 12
plataforma[plataforma == 'XB'] = 13
plataforma[plataforma == 'PC'] = 14
plataforma[plataforma == '2600'] = 15
plataforma[plataforma == 'PSP'] = 16
plataforma[plataforma == 'XOne'] = 17
plataforma[plataforma == 'WiiU'] = 18
plataforma[plataforma == 'GC'] = 19
plataforma[plataforma == 'GENc'] = 20
plataforma[plataforma == 'DC'] = 21
plataforma[plataforma == 'PSV'] = 22
plataforma[plataforma == 'SAT'] = 23
plataforma[plataforma == 'SCD'] = 24
plataforma[plataforma == 'WS'] = 25
plataforma[plataforma == 'NG'] = 26
plataforma[plataforma == 'TG16'] = 27
plataforma[plataforma == '3DO'] = 28
plataforma[plataforma == 'GG'] = 29
plataforma[plataforma == 'PCFX'] = 30
data['Plataforma'] = plataforma

### Alterando valores da coluna Classificação

In [6]:
#1      E
#2      M
#3      T
#4      E10+
#5      K-A
#6      AO
#7      EC
#8      RP

classificacao = data['Classificação'].copy()
classificacao[classificacao == 'E'] = 0
classificacao[classificacao == 'M'] = 1
classificacao[classificacao == 'T'] = 2
classificacao[classificacao == 'E10+'] = 3
classificacao[classificacao == 'K-A'] = 4
classificacao[classificacao == 'AO'] = 5
classificacao[classificacao == 'EC'] = 6
classificacao[classificacao == 'RP'] = 7
data['Classificação'] = classificacao

### Preenchendo valores vazios

In [7]:
data['Pontuação da crítica'] = data['Pontuação da crítica'].fillna(data['Pontuação da crítica'].mean())
data['Contagem de críticas'] = data['Contagem de críticas'].fillna(data['Contagem de críticas'].mean())
data['Contagem de usuários'] = data['Contagem de usuários'].fillna(data['Contagem de usuários'].mean())
# Falta apenas 'Pontuação dos usuários'

data[data['Pontuação dos usuários'] == 'tbd'] = np.nan
data['Pontuação dos usuários'] = data['Pontuação dos usuários'].astype('float64')
data['Pontuação dos usuários'] = data['Pontuação dos usuários'].fillna(data['Pontuação dos usuários'].mean())

### Criando uma coluna com as médias de pontuação

In [8]:
data['Média de pontuação'] = 0.0
def media(x, y):
    return (x+y)/2
data['Média de pontuação'] = data.apply(lambda row: media(row['Pontuação da crítica'], row['Pontuação dos usuários']), axis=1)
data.head()

,Nome,Plataforma,Ano de lançamento,Gênero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuação da crítica,Contagem de críticas,Pontuação dos usuários,Contagem de usuários,Desenvolvedora,Classificação,Média de pontuação
0,Wii Sports,0,2006.0,0,Nintendo,41.36,28.96,3.77,8.45,82.53,76.000000,51.000000,8.000000,322.000000,Nintendo,0,42.000000
1,Super Mario Bros.,1,1985.0,1,Nintendo,29.08,3.58,6.81,0.77,40.24,68.967679,26.360821,7.125046,162.229908,NaN,NaN,38.046362
2,Mario Kart Wii,0,2008.0,2,Nintendo,15.68,12.76,3.79,3.29,35.52,82.000000,73.000000,8.300000,709.000000,Nintendo,0,45.150000
3,Wii Sports Resort,0,2009.0,0,Nintendo,15.61,10.93,3.28,2.95,32.77,80.000000,73.000000,8.000000,192.000000,Nintendo,0,44.000000
4,Pokemon Red/Pokemon Blue,2,1996.0,3,Nintendo,11.27,8.89,10.22,1.00,31.37,68.967679,26.360821,7.125046,162.229908,NaN,NaN,38.046362

### Salvando arquivo

In [9]:
fileCleaned = pd.DataFrame(data={'Platform': data['Platform'], 'Genre': data['Genre'], 'Global_Sales': data['Global_Sales'],
     'Critic_Score': data['Critic_Score'], 'User_Score': data['User_Score'], 'Rating': data['Rating'], 'Score_Mean': data['Score_Mean']})
fileCleaned.dropna().to_csv(r'fileCleaned.csv', sep=',', index=False)

KeyError: 'Platform'

### Abrindo arquivo novamente

In [ ]:
data = pd.read_csv('fileCleaned.csv')
data.info()

### Criando um DataFrame só com os valores importantes

In [ ]:
data = pd.DataFrame(data={'Platform': data['Platform'], 'Genre': data['Genre'], 'Global_Sales': data['Global_Sales'],
     'Rating': data['Rating'], 'Score_Mean': data['Score_Mean']})

### Retirando valores duplicados

In [ ]:
data = data.drop_duplicates()
data.dropna().to_csv(r'fileCleaned.csv', sep=',', index=False)
data.head()