# Cluster Affinity Propagation

## Abrindo o arquivo de treino

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import math
from sklearn.cluster import AffinityPropagation

treino = pd.read_csv('treino.csv')
treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11200 entries, 0 to 11199
Data columns (total 2 columns):
Genero        11200 non-null int64
Plataforma    11200 non-null int64
dtypes: int64(2)
memory usage: 175.1 KB

In [2]:
treino.head()

   Genero  Plataforma
0      11          14
1      10           6
2       3          16
3       0          19
4       0           6

## Funções necessárias

In [105]:
def appendCluster(teste):
    cols = ['Nome', 'Plataforma', 'Ano de lancamento', 'Genero','Classificacao', 'Agrupamento']
    resultado = pd.DataFrame(data={'Nome':[], 'Plataforma':[], 'Ano de lancamento':[], 'Genero':[], 'Classificacao':[], 'Agrupamento':[]})
    if len(arrayAgrup) == 0:
        print("Não possui agrupamento!")
    if len(arrayAgrup) > 0:
        for x in arrayAgrup:
           resultado = resultado.append(teste[teste['Agrupamento']==x], ignore_index=True)
    return resultado

def predicao(x):
    return clusteringAffinityPropagation.predict([x])[0]

def doAggregation(gen, plat, dict):
    if "{}; {}".format(gen, plat) in dict:
        dict["{}; {}".format(gen, plat)] = dict["{}; {}".format(gen, plat)] +1
    else:
        dict["{}; {}".format(gen, plat)] = 1

def pureza(df):
    for x in unicos:
        dfAgrupamento = df[df['Agrupamento']==x]
        arrLocalPurify = []
        dfAgrupamento.apply(lambda row: doAggregation(row["Genero"], row["Plataforma"], dictPurify), axis=1)
        for k, v in dictPurify.items():
            arrLocalPurify.append(dictPurify[k]/dfAgrupamento['Agrupamento'].size)
        arrPureza.append(max(arrLocalPurify))
        dictPurify.clear()
    return sum(arrPureza)/len(arrPureza)

def entropia(df):
    dictEntropy = {}
    arrEntropia = []
    entropia = 0
    for x in unicos:
        dfAgrupamento = df[df['Agrupamento']==x]
        arrLocalEntropy = []
        dfAgrupamento.apply(lambda row: doAggregation(row["Genero"], row["Plataforma"], dictEntropy), axis=1)
        for k, v in dictEntropy.items():
            arrLocalEntropy.append((dictEntropy[k]/dfAgrupamento['Agrupamento'].size)*math.log(dictEntropy[k]/dfAgrupamento['Agrupamento'].size))
        arrEntropia.append(sum(arrLocalEntropy)*(-1))
        for x in arrEntropia:
            entropia = entropia + (x*(dfAgrupamento['Agrupamento'].size/df.size))
        dictEntropy.clear()
    return entropia

## Listas com parâmetros

In [110]:
max_iter = [200, 400, 600, 800]
damping = [0.5, 0.75, 1]
convergence_iter = [10, 15, 20]
affinity = ['euclidean', 'precomputed']
copy = [True, False]
verbose = [True, False]

## Treinando o modelo

In [3]:
# for a in max_iter:
#     for b in damping:
#         for c in convergence_iter:
#             for d in affinity:
#                 for e in copy:
#                     for f in verbose:
#                         clusteringAffinityPropagation = AffinityPropagation(max_iter=a, damping=b, convergence_iter=c, affinity=d, copy=e, verbose=f).fit(treino)

clusteringAffinityPropagation = AffinityPropagation(max_iter=600).fit(treino)

## Atributos do cluster

### cluster_centers_indices_

In [4]:
print(clusteringAffinityPropagation.cluster_centers_indices_)
print("Tamanho: " , len(clusteringAffinityPropagation.cluster_centers_indices_))

[    0     1     4 ... 11197 11198 11199]
Tamanho:  9330

### cluster_centers_

In [5]:
print(clusteringAffinityPropagation.cluster_centers_)
print("Tamanho: " , len(clusteringAffinityPropagation.cluster_centers_))

[[11 14]
 [10  6]
 [ 0  6]
 ...
 [ 7  3]
 [ 7  7]
 [ 5  3]]
Tamanho:  9330

### labels_

In [6]:
print(clusteringAffinityPropagation.labels_)
print("Tamanho: " , len(clusteringAffinityPropagation.labels_))

[   0    1  944 ... 9327 9328 9329]
Tamanho:  11200

### affinity_matrix_

In [7]:
print(clusteringAffinityPropagation.affinity_matrix_)
print("Tamanho: " , len(clusteringAffinityPropagation.affinity_matrix_))

[[  -0.  -65.  -68. ... -137.  -65. -157.]
 [ -65.   -0. -149. ...  -18.  -10.  -34.]
 [ -68. -149.   -0. ... -185.  -97. -173.]
 ...
 [-137.  -18. -185. ...   -0.  -16.   -4.]
 [ -65.  -10.  -97. ...  -16.   -0.  -20.]
 [-157.  -34. -173. ...   -4.  -20.   -0.]]
Tamanho:  11200

### n_iter_

In [8]:
print(clusteringAffinityPropagation.n_iter_)

600

# Predição

### Abrindo arquivo de teste

In [9]:
teste = pd.read_csv('teste.csv')
teste.head()

   Ano de lancamento  Classificacao  Genero               Nome  Plataforma
0             2009.0              0       0        NBA Live 10           4
1             1995.0             99       3  Metal Max Returns           7
2             2009.0              0       7          Girl Time           3
3             2005.0              0       0        SSX On Tour           6
4             1997.0             99       2         VMX Racing          12

### Fazendo a predição

In [10]:
teste['Agrupamento'] = teste.apply(lambda row: predicao([row['Plataforma'], row['Genero']]), axis=1)

In [102]:
teste.head()

,Ano de lancamento,Classificacao,Genero,Nome,Plataforma,Agrupamento
0,2009.0,0,0,NBA Live 10,4,620
1,1995.0,99,3,Metal Max Returns,7,120
2,2009.0,0,7,Girl Time,3,31
3,2005.0,0,0,SSX On Tour,6,635
4,1997.0,99,2,VMX Racing,12,513

In [103]:
teste.describe()

       Ano de lancamento  Classificacao       Genero   Plataforma  Agrupamento
count        5517.000000    5517.000000  5517.000000  5517.000000  5517.000000
mean         1975.223129      40.645278     5.256480     8.698749   590.921153
std           248.646313      47.986765     3.437468     5.938550   968.782843
min             0.000000       0.000000     0.000000     0.000000     1.000000
25%          2003.000000       1.000000     2.000000     4.000000    92.000000
50%          2007.000000       2.000000     6.000000     6.000000   221.000000
75%          2010.000000      99.000000     8.000000    13.000000   620.000000
max          2016.000000      99.000000    11.000000    30.000000  5768.000000

In [13]:
unicos = teste['Agrupamento'].unique()

In [14]:
unicos.sort()
unicos

array([   1,    2,    3,    4,    6,    9,   10,   11,   14,   17,   19,
         20,   21,   22,   23,   24,   25,   27,   31,   32,   34,   41,
         44,   47,   48,   53,   55,   61,   66,   68,   71,   75,   76,
         77,   78,   84,   91,   92,   93,   99,  102,  105,  112,  117,
        120,  123,  124,  128,  138,  141,  142,  149,  168,  172,  174,
        182,  191,  198,  200,  220,  221,  223,  236,  238,  245,  300,
        320,  321,  322,  331,  340,  372,  377,  422,  429,  456,  513,
        526,  538,  554,  559,  570,  576,  606,  612,  620,  635,  641,
        667,  677,  693,  707,  716,  722,  761,  853,  864,  916,  942,
        958, 1089, 1107, 1248, 1256, 1259, 1340, 1419, 1530, 1714, 1834,
       1974, 2051, 2465, 2520, 2988, 3273, 3451, 3912, 4344, 4731, 5768],
      dtype=int64)

### Fazendo a predição de uma lista de jogos

In [15]:
# Plataforma - Gênero - Classificação
# SOCOM: U.S. Navy SEALs Fireteam Bravo 3 - [16,6]
# Dragon Ball Z: Budokai 2 - [19,9]
# Ultra Street Fighter IV - [9,9]
# Final Fantasy XI: Treasures of Aht Urhgan - [6,3]
option = [[19,9],[9,9]]
arrayAgrup = clusteringAffinityPropagation.predict(option)
arrayAgrup

array([1714,  707], dtype=int64)

In [16]:
teste.head()

,Ano de lancamento,Classificacao,Genero,Nome,Plataforma,Agrupamento
0,2009.0,0,0,NBA Live 10,4,620
1,1995.0,99,3,Metal Max Returns,7,120
2,2009.0,0,7,Girl Time,3,31
3,2005.0,0,0,SSX On Tour,6,635
4,1997.0,99,2,VMX Racing,12,513

In [108]:
appendCluster(teste).head()

,Agrupamento,Ano de lancamento,Classificacao,Genero,Nome,Plataforma
0,1714.0,1995.0,99.0,9.0,Zero Divide,12.0
1,1714.0,1996.0,99.0,9.0,Real Bout Garou Densetsu,23.0
2,1714.0,1998.0,99.0,9.0,Virtua Fighter 3tb,21.0
3,1714.0,2006.0,2.0,9.0,Samurai Shodown V,13.0
4,1714.0,1995.0,99.0,9.0,Blades of Blood: Samurai Shodown III,12.0

## Similaridade

In [18]:
# from sklearn.metrics.pairwise import cosine_similarity

# def similaridade(x):
#     return cosine_similarity([option],[x])[0][0]
# resultado['Similaridade'] = resultado.apply(lambda row: similaridade([row['Plataforma'], row['Genero']]), axis=1)
# resultado.sort_values(by=['Similaridade'], ascending=False)

In [19]:
# for x in a:
#     print(teste[teste['Agrupamento']==x].count())
    
# teste[teste['Agrupamento']==4].groupby(by=['Media de pontuacao'])

# print(teste[teste['Agrupamento']==61].count())

# Métricas de validação

## Pureza
### A pureza é quanto de um agrupamento é formado por uma só classe. 
A pureza é o quanto que a mistura de gases dentro de um balão é pura.

In [106]:
pureza(teste)

0.9231680921089751

## Entropia

### A entropia mede o quão pouco separados, caóticos, os seus dados estão.
A entropia é o quanto que os gases estão misturados. Uma mistura com pouca entropia é bem separada.

In [101]:
entropia(teste)

2.031560347191857