# Importando as bibliotecas e o dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

data = pd.read_csv('datasets/video-game-sales-with-ratings/Video_Games_Sales_as_at_22_Dec_2016.csv')
data.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

## Informações do dataset

### Estatísticas descritivas

In [2]:
data.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

### Informações gerais

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
Name               16717 non-null object
Platform           16719 non-null object
Year_of_Release    16450 non-null float64
Genre              16717 non-null object
Publisher          16665 non-null object
NA_Sales           16719 non-null float64
EU_Sales           16719 non-null float64
JP_Sales           16719 non-null float64
Other_Sales        16719 non-null float64
Global_Sales       16719 non-null float64
Critic_Score       8137 non-null float64
Critic_Count       8137 non-null float64
User_Score         10015 non-null object
User_Count         7590 non-null float64
Developer          10096 non-null object
Rating             9950 non-null object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

### Coluna 'Genre' e seus respectivos índices

In [4]:
#0      Sports
#1      Platform
#2      Racing
#3      Role-Playing
#4      Puzzle
#5      Misc
#6      Shooter
#7      Simulation
#8      Action
#9      Fighting
#10     Adventure
#11     Strategy

### Coluna 'Platform' e seus respectivos índices

In [5]:
#0      Wii
#1      NES
#2      GB
#3      DS
#4      X360
#5      PS3
#6      PS2
#7      SNES
#8      GBA
#9      PS4
#10     3DS
#11     N64
#12     PS
#13     XB
#14     PC
#15     2600
#16     PSP
#17     XOne
#19     WiiU
#20     GC
#21     GEN
#22     DC
#23     PSV
#24     SAT
#25     SCD
#26     WS
#27     NG
#28     TG16
#29     3DO
#30     GG
#31     PCFX

### Coluna 'Rating' e seus respectivos índices

In [6]:
#0      E
#1      M
#2      T
#3      E10+
#4      K-A
#5      AO
#6      EC
#7      RP

### Anotações imediatas

A princípio penso em focar nas colunas Genre, Platform, Global_Sales, Critic_Score, User_Score e Rating.

## Limpando os dados

### Alterando valores da coluna Genre

In [7]:
generos = data['Genre'].copy()
generos[generos== 'Sports'] =0
generos[generos== 'Platform'] =1
generos[generos== 'Racing'] =2
generos[generos== 'Role-Playing'] =3
generos[generos== 'Puzzle'] =4
generos[generos== 'Misc'] =5
generos[generos== 'Shooter'] =6
generos[generos== 'Simulation'] =7
generos[generos== 'Action'] =8
generos[generos== 'Fighting'] =9
generos[generos== 'Adventure'] =10
generos[generos== 'Strategy'] =11
data['Genre'] = generos

### Alterando valores da coluna Platform

In [8]:
x = data['Platform'].copy()
x[x== 'Wii'] =0
x[x== 'NES'] =1
x[x== 'GB'] =2
x[x== 'DS'] =3
x[x== 'X360'] =4
x[x== 'PS3'] =5
x[x== 'PS2'] =6
x[x== 'SNES'] =7
x[x== 'GBA'] =8
x[x== 'PS4'] =9
x[x== '3DS'] =10
x[x== 'N64'] =11
x[x== 'PS'] =12
x[x== 'XB'] =13
x[x== 'PC'] =14
x[x== '2600'] =15
x[x== 'PSP'] =16
x[x== 'XOne'] =17
x[x== 'WiiU'] =18
x[x== 'GC'] =19
x[x== 'GENc'] =20
x[x== 'DC'] =21
x[x== 'PSV'] =22
x[x== 'SAT'] =23
x[x== 'SCD'] =24
x[x== 'WS'] =25
x[x== 'NG'] =26
x[x== 'TG16'] =27
x[x== '3DO'] =28
x[x== 'GG'] =29
x[x== 'PCFX'] =30
data['Platform'] = x

### Alterando valores da coluna Rating

In [9]:
x = data['Rating'].copy()
x[x== 'E'] =0
x[x== 'M'] =1
x[x== 'T'] =2
x[x== 'E10+'] =3
x[x== 'K-A'] =4
x[x== 'AO'] =5
x[x== 'EC'] =6
x[x== 'RP'] =7
data['Rating'] = x

### Retirando os valores TBD e valores NaN

In [10]:
data = data[data['User_Score'] != 'tbd']
data['Score_Mean'] = 0.0
#data['Score_Mean'].astype('float64') = 0.0
data = data.dropna()

### Retirando os valores 'tbd' da coluna User_Score

In [11]:
data = data[data['User_Score'] != 'tbd']
#data['Critic_Score'].astype('float64')
#data['User_Score'].astype('float64')
#data['Score_Mean'].astype('float64')

### Salvando arquivo

In [12]:
fileCleaned = pd.DataFrame(data={'Platform': data['Platform'], 'Genre': data['Genre'], 'Global_Sales': data['Global_Sales'],
     'Critic_Score': data['Critic_Score'], 'User_Score': data['User_Score'], 'Rating': data['Rating'], 'Score_Mean': data['Score_Mean']})
fileCleaned.dropna().to_csv(r'fileCleaned.csv', sep=',', index=False)

### Abrindo arquivo novamente

In [13]:
data = pd.read_csv('fileCleaned.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6825 entries, 0 to 6824
Data columns (total 7 columns):
Platform        6825 non-null int64
Genre           6825 non-null int64
Global_Sales    6825 non-null float64
Critic_Score    6825 non-null float64
User_Score      6825 non-null float64
Rating          6825 non-null int64
Score_Mean      6825 non-null float64
dtypes: float64(4), int64(3)
memory usage: 373.3 KB

### Populando a coluna Score Mean

In [14]:
def media(x, y):
    return (x+y)/2
data['Score_Mean'] = data.apply(lambda row: media(row['Critic_Score'], row['User_Score']), axis=1)
data.drop(['Critic_Score','User_Score'], axis=1)
data.head()

   Platform  Genre  Global_Sales  Critic_Score  User_Score  Rating  Score_Mean
0         0      0         82.53          76.0         8.0       0       42.00
1         0      2         35.52          82.0         8.3       0       45.15
2         0      0         32.77          80.0         8.0       0       44.00
3         3      1         29.80          89.0         8.5       0       48.75
4         0      5         28.92          58.0         6.6       0       32.30

### Retirando valores duplicados

In [15]:
data = data.drop_duplicates()

# Treinando os modelos de clusterização

## Cluster Affinity Propagation

### Abrindo o arquivo limpo

In [16]:
dado = pd.read_csv('fileCleaned.csv')
dado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6825 entries, 0 to 6824
Data columns (total 7 columns):
Platform        6825 non-null int64
Genre           6825 non-null int64
Global_Sales    6825 non-null float64
Critic_Score    6825 non-null float64
User_Score      6825 non-null float64
Rating          6825 non-null int64
Score_Mean      6825 non-null float64
dtypes: float64(4), int64(3)
memory usage: 373.3 KB

In [ ]:
from sklearn.cluster import AffinityPropagation
X = dado
clusteringAffinityPropagation = AffinityPropagation().fit_predict(X)

### Plot

In [ ]:
#pd.DataFrame(clusteringAffinityPropagation).plot(kind='pie')
clusteringAffinityPropagation