# Importando as bibliotecas e o dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

data = pd.read_csv('datasets/video-game-sales-with-ratings/Video_Games_Sales_as_at_22_Dec_2016.csv')
data.columns = ['Nome', 'Plataforma', 'Ano de lancamento', 'Genero', 'Publicadora', 'Vendas NA', 'Vendas EU', 'Vendas JP', 'Outras vendas', 'Vendas globais', 'Pontuacao da critica', 'Contagem de criticas', 'Pontuacao dos usuarios', 'Contagem de usuarios', 'Desenvolvedora', 'Classificacao']
data.head()

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

## Informações do dataset

### Informações gerais

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
Nome                      16717 non-null object
Plataforma                16719 non-null object
Ano de lancamento         16450 non-null float64
Genero                    16717 non-null object
Publicadora               16665 non-null object
Vendas NA                 16719 non-null float64
Vendas EU                 16719 non-null float64
Vendas JP                 16719 non-null float64
Outras vendas             16719 non-null float64
Vendas globais            16719 non-null float64
Pontuacao da critica      8137 non-null float64
Contagem de criticas      8137 non-null float64
Pontuacao dos usuarios    10015 non-null object
Contagem de usuarios      7590 non-null float64
Desenvolvedora            10096 non-null object
Classificacao             9950 non-null object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

### Estatísticas descritivas

In [3]:
data.describe()

,Ano de lancamento,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Contagem de usuarios
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

### Anotações imediatas

A princípio penso em focar nas colunas Genre, Platform, Global_Sales, Critic_Score, User_Score e Rating.

## Limpando os dados

### Alterando valores da coluna Gênero

In [4]:
generos = data['Genero'].copy()
generos[generos== 'Sports'] = 0
generos[generos== 'Platform'] = 1
generos[generos== 'Racing'] = 2
generos[generos== 'Role-Playing'] = 3
generos[generos== 'Puzzle'] = 4
generos[generos== 'Misc'] = 5
generos[generos== 'Shooter'] = 6
generos[generos== 'Simulation'] = 7
generos[generos== 'Action'] = 8
generos[generos== 'Fighting'] = 9
generos[generos== 'Adventure'] = 10
generos[generos== 'Strategy'] = 11
data['Genero'] = generos

### Alterando valores da coluna Platform

In [5]:
plataforma = data['Plataforma'].copy()
plataforma[plataforma == 'Wii'] = 0
plataforma[plataforma == 'NES'] = 1
plataforma[plataforma == 'GB'] = 2
plataforma[plataforma == 'DS'] = 3
plataforma[plataforma == 'X360'] = 4
plataforma[plataforma == 'PS3'] = 5
plataforma[plataforma == 'PS2'] = 6
plataforma[plataforma == 'SNES'] = 7
plataforma[plataforma == 'GBA'] = 8
plataforma[plataforma == 'PS4'] = 9
plataforma[plataforma == '3DS'] = 10
plataforma[plataforma == 'N64'] = 11
plataforma[plataforma == 'PS'] = 12
plataforma[plataforma == 'XB'] = 13
plataforma[plataforma == 'PC'] = 14
plataforma[plataforma == '2600'] = 15
plataforma[plataforma == 'PSP'] = 16
plataforma[plataforma == 'XOne'] = 17
plataforma[plataforma == 'WiiU'] = 18
plataforma[plataforma == 'GC'] = 19
plataforma[plataforma == 'GEN'] = 20
plataforma[plataforma == 'DC'] = 21
plataforma[plataforma == 'PSV'] = 22
plataforma[plataforma == 'SAT'] = 23
plataforma[plataforma == 'SCD'] = 24
plataforma[plataforma == 'WS'] = 25
plataforma[plataforma == 'NG'] = 26
plataforma[plataforma == 'TG16'] = 27
plataforma[plataforma == '3DO'] = 28
plataforma[plataforma == 'GG'] = 29
plataforma[plataforma == 'PCFX'] = 30
data['Plataforma'] = plataforma

### Alterando valores da coluna Classificação

In [6]:
#1      E
#2      M
#3      T
#4      E10+
#5      K-A
#6      AO
#7      EC
#8      RP

classificacao = data['Classificacao'].copy()
classificacao[classificacao == 'E'] = 0
classificacao[classificacao == 'M'] = 1
classificacao[classificacao == 'T'] = 2
classificacao[classificacao == 'E10+'] = 3
classificacao[classificacao == 'K-A'] = 4
classificacao[classificacao == 'AO'] = 5
classificacao[classificacao == 'EC'] = 6
classificacao[classificacao == 'RP'] = 7
data['Classificacao'] = classificacao

### Alterando valores da coluna Publicadora

In [7]:
x = data['Publicadora'].unique()
for item in range(len(x)):
    b = data[data['Publicadora']==x[item]]
    b['Publicadora'] = item
    data[data['Publicadora']==x[item]] = b

/home/jackson/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

### Alterando valores da coluna Desenvolvedora

In [8]:
x = data['Desenvolvedora'].unique()
for item in range(len(x)):
    b = data[data['Desenvolvedora']==x[item]]
    b['Desenvolvedora'] = item
    data[data['Desenvolvedora']==x[item]] = b

/home/jackson/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

### Retirando valores vazios restantes

In [9]:
data = data[data['Pontuacao dos usuarios'] != 'tbd']
data['Pontuacao dos usuarios'].astype('float64')
data = data.dropna()
# data[data['Pontuacao dos usuarios'] == 'tbd']
data.to_csv(r'fileCleaned.csv', sep=',', index=False)
data = pd.read_csv('fileCleaned.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6825 entries, 0 to 6824
Data columns (total 16 columns):
Nome                      6825 non-null object
Plataforma                6825 non-null int64
Ano de lancamento         6825 non-null float64
Genero                    6825 non-null int64
Publicadora               6825 non-null int64
Vendas NA                 6825 non-null float64
Vendas EU                 6825 non-null float64
Vendas JP                 6825 non-null float64
Outras vendas             6825 non-null float64
Vendas globais            6825 non-null float64
Pontuacao da critica      6825 non-null float64
Contagem de criticas      6825 non-null float64
Pontuacao dos usuarios    6825 non-null float64
Contagem de usuarios      6825 non-null float64
Desenvolvedora            6825 non-null int64
Classificacao             6825 non-null int64
dtypes: float64(10), int64(5), object(1)
memory usage: 853.2+ KB

### Criando uma coluna com as médias de pontuação

In [10]:
data['Media de pontuacao'] = 0.0

data['Plataforma'].astype('int64')
data['Genero'].astype('int64')
data['Ano de lancamento'].astype('int64')
data['Vendas globais'].astype('float64')
data['Pontuacao da critica'].astype('float64')
data['Classificacao'].astype('int64')
data['Media de pontuacao'].astype('float64')
data['Ano de lancamento'].astype('int64')

def media(x, y):
    return (x+y)/2
data['Media de pontuacao'] = data.apply(lambda row: media(row['Pontuacao da critica'], row['Pontuacao dos usuarios'], row['Classificacao']), axis=1)
data.head()

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
0,Wii Sports,0,2006.0,0,0,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,0,0,42.00
1,Mario Kart Wii,0,2008.0,2,0,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,0,0,45.15
2,Wii Sports Resort,0,2009.0,0,0,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,0,0,44.00
3,New Super Mario Bros.,3,2006.0,1,0,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,0,0,48.75
4,Wii Play,0,2006.0,5,0,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,0,0,32.30

### Informações finais do Dataframe

In [11]:
data.describe()

,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
count,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000
mean,8.705055,2007.436777,5.159707,36.187692,0.394484,0.236089,0.064158,0.082677,0.777590,70.272088,28.931136,7.185626,174.722344,370.457582,1.317656,38.728857
std,5.668051,4.211248,3.350953,71.185116,0.967385,0.687330,0.287570,0.269871,1.963443,13.868572,19.224165,1.439942,587.428538,379.488000,1.051942,7.375442
min,0.000000,1985.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,0.500000,4.000000,0.000000,0.000000,7.000000
25%,4.000000,2004.000000,2.000000,5.000000,0.060000,0.020000,0.000000,0.010000,0.110000,62.000000,14.000000,6.500000,11.000000,72.000000,0.000000,34.450000
50%,6.000000,2007.000000,6.000000,10.000000,0.150000,0.060000,0.000000,0.020000,0.290000,72.000000,25.000000,7.500000,27.000000,237.000000,1.000000,39.900000
75%,14.000000,2011.000000,8.000000,28.000000,0.390000,0.210000,0.010000,0.070000,0.750000,80.000000,39.000000,8.200000,89.000000,551.000000,2.000000,44.150000
max,22.000000,2016.000000,11.000000,562.000000,41.360000,28.960000,6.500000,10.570000,82.530000,98.000000,113.000000,9.600000,10665.000000,1695.000000,7.000000,53.400000

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6825 entries, 0 to 6824
Data columns (total 17 columns):
Nome                      6825 non-null object
Plataforma                6825 non-null int64
Ano de lancamento         6825 non-null float64
Genero                    6825 non-null int64
Publicadora               6825 non-null int64
Vendas NA                 6825 non-null float64
Vendas EU                 6825 non-null float64
Vendas JP                 6825 non-null float64
Outras vendas             6825 non-null float64
Vendas globais            6825 non-null float64
Pontuacao da critica      6825 non-null float64
Contagem de criticas      6825 non-null float64
Pontuacao dos usuarios    6825 non-null float64
Contagem de usuarios      6825 non-null float64
Desenvolvedora            6825 non-null int64
Classificacao             6825 non-null int64
Media de pontuacao        6825 non-null float64
dtypes: float64(11), int64(5), object(1)
memory usage: 906.5+ KB

### Salvando arquivo

In [13]:
# fileCleaned = pd.DataFrame(data={'Platform': data['Platform'], 'Genre': data['Genre'], 'Global_Sales': data['Global_Sales'],
#      'Critic_Score': data['Critic_Score'], 'User_Score': data['User_Score'], 'Rating': data['Rating'], 'Score_Mean': data['Score_Mean']})
# fileCleaned.dropna().to_csv(r'fileCleaned.csv', sep=',', index=False)

# data.to_csv(r'fileCleaned.csv', sep=',', index=False)

### Abrindo o arquivo novamente

In [14]:
# data = pd.read_csv('fileCleaned.csv')
# data

In [15]:
data.describe()

,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
count,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000
mean,8.705055,2007.436777,5.159707,36.187692,0.394484,0.236089,0.064158,0.082677,0.777590,70.272088,28.931136,7.185626,174.722344,370.457582,1.317656,38.728857
std,5.668051,4.211248,3.350953,71.185116,0.967385,0.687330,0.287570,0.269871,1.963443,13.868572,19.224165,1.439942,587.428538,379.488000,1.051942,7.375442
min,0.000000,1985.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,0.500000,4.000000,0.000000,0.000000,7.000000
25%,4.000000,2004.000000,2.000000,5.000000,0.060000,0.020000,0.000000,0.010000,0.110000,62.000000,14.000000,6.500000,11.000000,72.000000,0.000000,34.450000
50%,6.000000,2007.000000,6.000000,10.000000,0.150000,0.060000,0.000000,0.020000,0.290000,72.000000,25.000000,7.500000,27.000000,237.000000,1.000000,39.900000
75%,14.000000,2011.000000,8.000000,28.000000,0.390000,0.210000,0.010000,0.070000,0.750000,80.000000,39.000000,8.200000,89.000000,551.000000,2.000000,44.150000
max,22.000000,2016.000000,11.000000,562.000000,41.360000,28.960000,6.500000,10.570000,82.530000,98.000000,113.000000,9.600000,10665.000000,1695.000000,7.000000,53.400000

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6825 entries, 0 to 6824
Data columns (total 17 columns):
Nome                      6825 non-null object
Plataforma                6825 non-null int64
Ano de lancamento         6825 non-null float64
Genero                    6825 non-null int64
Publicadora               6825 non-null int64
Vendas NA                 6825 non-null float64
Vendas EU                 6825 non-null float64
Vendas JP                 6825 non-null float64
Outras vendas             6825 non-null float64
Vendas globais            6825 non-null float64
Pontuacao da critica      6825 non-null float64
Contagem de criticas      6825 non-null float64
Pontuacao dos usuarios    6825 non-null float64
Contagem de usuarios      6825 non-null float64
Desenvolvedora            6825 non-null int64
Classificacao             6825 non-null int64
Media de pontuacao        6825 non-null float64
dtypes: float64(11), int64(5), object(1)
memory usage: 906.5+ KB

### Separando dados de treino e teste

In [17]:
from sklearn.model_selection import ShuffleSplit
rs = ShuffleSplit(n_splits=1, test_size=0.33, random_state=42)
array_train = []
array_test = []
columns = ['Nome', 'Plataforma', 'Ano de lancamento', 'Genero', 'Publicadora', 'Vendas NA', 'Vendas EU', 'Vendas JP',
           'Outras vendas', 'Vendas globais', 'Pontuacao da critica', 'Contagem de criticas', 'Pontuacao dos usuarios', 
           'Contagem de usuarios', 'Desenvolvedora', 'Classificacao', 'Media de pontuacao']

for train_index, test_index in rs.split(data):
    #Treino
    array_train.append(train_index)
    #df_treino = pd.DataFrame(data={'Plataforma': [], 'Genero': [], 'Classificacao': []})
    ar_treino = []
    ar_teste = []
    for x in train_index:
        dict_treino = {'Plataforma': data.loc[x,'Plataforma'], 'Genero': data.loc[x,'Genero'], 'Classificacao': data.loc[x,'Classificacao']}
        ar_treino.append(dict_treino)
    df_treino = pd.DataFrame(data=ar_treino)
    for x in test_index:
        dict_teste = {'Nome': data.loc[x,'Nome'], 'Plataforma': data.loc[x,'Plataforma'],
                       'Ano de lancamento': data.loc[x,'Ano de lancamento'], 'Genero': data.loc[x,'Genero'],
                       'Publicadora': data.loc[x,'Publicadora'], 'Vendas NA': data.loc[x,'Vendas NA'],
                       'Vendas EU': data.loc[x,'Vendas EU'], 'Vendas JP': data.loc[x,'Vendas JP'],
                       'Outras vendas': data.loc[x,'Outras vendas'], 'Vendas globais': data.loc[x,'Vendas globais'],
                       'Pontuacao da critica': data.loc[x,'Pontuacao da critica'], 'Contagem de criticas': data.loc[x,'Contagem de criticas'],
                       'Pontuacao dos usuarios': data.loc[x,'Pontuacao dos usuarios'], 'Contagem de usuarios': data.loc[x,'Contagem de usuarios'],
                       'Desenvolvedora': data.loc[x,'Desenvolvedora'], 'Classificacao': data.loc[x,'Classificacao'],
                       'Media de pontuacao': data.loc[x,'Media de pontuacao']}
        ar_teste.append(dict_teste)
    df_teste = pd.DataFrame(data=ar_teste)
    
df_treino.to_csv(r'treino.csv', sep=',', index=False)
df_teste.to_csv(r'teste.csv', sep=',', index=False)

In [18]:
treino = pd.read_csv('treino.csv')
treino

      Classificacao  Genero  Plataforma
0                 1       3          14
1                 0       8           4
2                 2       8          14
3                 2       8           4
4                 0       0           9
5                 0      10          19
6                 2       5           4
7                 0       2           5
8                 0       0           6
9                 1       8          14
10                0       0           6
11                1       6           4
12                2       6           6
13                0       1           4
14                2       9           4
15                3       8           0
16                2      10          13
17                2       3           5
18                0       8           8
19                0       3          18
20                0       5          13
21                1       8          13
22                0       1          19
23                3       1           5
24                0       0          16
25                3       8           9
26                3       8           3
27                2       1           9
28                0       0           5
29                0       4           6
...             ...     ...         ...
4542              0       8           6
4543              0       1          19
4544              3       1          22
4545              1       6          17
4546              1      10           6
4547              0       3           6
4548              3      11           3
4549              2       8           8
4550              0       5           6
4551              0       8          19
4552              0       0          19
4553              0       0          17
4554              0       2           3
4555              2       3           6
4556              1       6           4
4557              1       6          13
4558              2      11           6
4559              3       2          14
4560              3       0          19
4561              1       8          13
4562              2       6           9
4563              3       8           3
4564              2      11          14
4565              2       5           6
4566              0       2           4
4567              3       5           0
4568              3       8           0
4569              2       3          22
4570              2       6           4
4571              0       4           0

[4572 rows x 3 columns]

In [19]:
treino.describe()

       Classificacao       Genero   Plataforma
count    4572.000000  4572.000000  4572.000000
mean        1.329178     5.166667     8.815617
std         1.055410     3.354925     5.687547
min         0.000000     0.000000     0.000000
25%         0.000000     2.000000     4.000000
50%         1.000000     6.000000     6.000000
75%         2.000000     8.000000    14.000000
max         5.000000    11.000000    22.000000

In [20]:
treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 3 columns):
Classificacao    4572 non-null int64
Genero           4572 non-null int64
Plataforma       4572 non-null int64
dtypes: int64(3)
memory usage: 107.2 KB

In [21]:
teste = pd.read_csv('teste.csv')
teste

,Ano de lancamento,Classificacao,Contagem de criticas,Contagem de usuarios,Desenvolvedora,Genero,Media de pontuacao,Nome,Outras vendas,Plataforma,Pontuacao da critica,Pontuacao dos usuarios,Publicadora,Vendas EU,Vendas JP,Vendas NA,Vendas globais
0,1998.0,1,20.0,918.0,44,8,51.70,Metal Gear Solid,0.24,12,94.0,9.4,14,1.83,0.78,3.18,6.03
1,2010.0,2,51.0,20.0,331,6,41.00,SOCOM: U.S. Navy SEALs Fireteam Bravo 3,0.08,16,74.0,8.0,3,0.13,0.06,0.17,0.44
2,2002.0,0,20.0,6.0,909,0,46.90,World Series Baseball,0.01,13,85.0,8.8,8,0.05,0.00,0.17,0.23
3,2008.0,3,26.0,14.0,629,3,38.85,Spectrobes: Beyond the Portals,0.04,3,70.0,7.7,32,0.11,0.00,0.36,0.51
4,2014.0,1,46.0,84.0,1272,8,23.75,Yaiba: Ninja Gaiden Z,0.02,5,43.0,4.5,48,0.03,0.00,0.05,0.09
5,2008.0,2,47.0,34.0,156,9,43.05,WWE SmackDown vs. Raw 2009,0.08,4,79.0,7.1,28,0.26,0.00,0.58,0.92
6,2003.0,0,18.0,38.0,83,0,48.70,ESPN NBA Basketball,0.07,6,89.0,8.4,8,0.21,0.00,0.26,0.54
7,2006.0,2,46.0,108.0,440,11,46.25,Rise of Nations: Rise of Legends,0.01,14,84.0,8.5,1,0.03,0.00,0.00,0.03
8,2008.0,3,15.0,18.0,1348,11,43.30,Robocalypse,0.01,3,78.0,8.6,48,0.00,0.00,0.07,0.07
9,2006.0,2,30.0,43.0,690,3,39.35,Ar tonelico: Melody of Elemia,0.00,6,71.0,7.7,11,0.00,0.10,0.00,0.10
10,2002.0,2,41.0,174.0,49,3,48.05,Dark Cloud 2,0.07,6,87.0,9.1,3,0.25,0.26,0.38,0.96
11,2011.0,2,48.0,182.0,168,8,35.20,Need for Speed: The Run,0.36,5,64.0,6.4,7,1.04,0.03,0.58,2.01
12,2006.0,2,4.0,13.0,46,3,47.05,Final Fantasy XI: Treasures of Aht Urhgan,0.02,6,87.0,7.1,15,0.05,0.10,0.06,0.23
13,2012.0,0,19.0,22.0,83,0,37.20,Major League Baseball 2K12,0.03,4,68.0,6.4,2,0.00,0.00,0.47,0.50
14,2007.0,0,15.0,4.0,35,0,35.40,NCAA March Madness 08,0.01,5,67.0,3.8,7,0.00,0.00,0.08,0.09
15,2008.0,2,26.0,20.0,142,8,30.90,The Incredible Hulk,0.02,5,55.0,6.8,8,0.02,0.00,0.22,0.26
16,2003.0,0,9.0,8.0,1670,2,26.15,Grooverider: Slot Car Thunder,0.00,13,45.0,7.3,502,0.00,0.00,0.01,0.01
17,2015.0,2,24.0,30.0,1037,3,39.50,Stranger of Sword City,0.01,22,71.0,8.0,131,0.00,0.00,0.02,0.04
18,2010.0,2,13.0,15.0,185,8,41.35,Spider-Man: Shattered Dimensions,0.02,0,75.0,7.7,4,0.09,0.00,0.12,0.24
19,2015.0,1,17.0,29.0,1009,10,44.65,Steins;Gate 0,0.00,9,81.0,8.3,148,0.00,0.05,0.00,0.05
20,2003.0,0,27.0,45.0,35,0,50.35,SSX 3,0.01,19,92.0,8.7,7,0.08,0.00,0.29,0.38
21,2013.0,0,22.0,328.0,35,0,46.90,FIFA 14,0.09,17,88.0,5.8,7,0.66,0.00,0.41,1.16
22,2010.0,0,40.0,85.0,69,0,41.90,pro evolution soccer 2011,0.41,5,77.0,6.8,14,1.17,0.54,0.29,2.41
23,2004.0,1,43.0,26.0,85,8,42.15,Silent Hill 4: The Room,0.01,13,76.0,8.3,14,0.04,0.00,0.14,0.18
24,2015.0,0,12.0,286.0,69,0,40.15,Pro Evolution Soccer 2016,0.00,14,76.0,4.3,14,0.04,0.00,0.00,0.04
25,2008.0,2,35.0,27.0,115,8,39.85,Overlord: Raising Hell,0.02,5,72.0,7.7,34,0.03,0.00,0.07,0.12
26,2005.0,0,14.0,13.0,1332,5,40.50,In The Groove,0.01,6,72.0,9.0,22,0.03,0.00,0.04,0.07
27,2011.0,2,56.0,147.0,48,9,45.65,Marvel vs. Capcom 3: Fate of Two Worlds,0.14,5,84.0,7.3,12,0.28,0.11,0.81,1.34
28,2015.0,2,28.0,94.0,1247,9,38.45,Ultra Street Fighter IV,0.01,9,71.0,5.9,12,0.08,0.00,0.00,0.10
29,2013.0,3,6.0,7.0,1315,1,27.05,PAC-MAN and the Ghostly Adventures,0.01,5,51.0,3.1,25,0.03,0.00,0.03,0.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2223,2008.0,0,5.0,10.0,402,8,26.20,SpongeBob SquarePants featuring Nicktoons: Glo...,0.04,0,47.0,5.4,28,0.00,0.00,0.49,0.53
2224,2009.0,2,5.0,13.0,1218,5,41.75,DJ Max Fever,0.01,16,77.0,6.5,354,0.00,0.00,0.09,0.11
2225,2003.0,0,8.0,5.0,67,1,39.60,X2: Wolverine's Revenge,0.00,8,72.0,7.2,4,0.05,0.00,0.14,0.20
2226,2006.0,1,19.0,64.0,149,6,37.05,Brothers In Arms: D-Day,0.09,16,65.0,9.1,5,0.14,0.00,0.23,0.46
2227,2004.0,2,25.0,24.0,89,7,39.10,The Urbz: Sims in the City,0.29,6,70.0,8.2,7,0.95,0.00,0.52,1.76
2228,2006.0,2,78.0,215.0,31,6,49.00,Tom Clancy's Ghost Recon Advanced Warfighter,0.10,4,90.0,8.0,5,0.02,0.02,1.40,1.54
2229,2002.0,2,22.0,17.0,60,0,50.70,Tony Hawk's Pro Skater 3,0.02,13,93.0,8.4,4,0.18,0.00,0.34,0.55
2230,2007.0,1,34.0,52.0,794,6,33.55,Clive Barker's Jericho,0.02,5,60.0,7.1,34,0.01,0.00,0.17,0.20
2231,2012.0,0,12.0,111.0,408,7,36.25,Farming Simulator 2013,0.15,14,65.0,7.5,82,0.81,0.00,0.00,0.96
2232,2009.0,1,27.0,13.0,301,8,35.50,Undead Knights,0.01,16,63.0,8.0,116,0.00,0.06,0.05,0.12
2233,2005.0,1,47.0,104.0,118,10,45.40,Indigo Prophecy,0.02,6,83.0,7.8,10,0.06,0.00,0.07,0.15
2234,2011.0,2,46.0,40.0,842,8,42.75,El Shaddai: Ascension of the Metatron,0.03,5,78.0,7.5,153,0.06,0.08,0.11,0.28
2235,2013.0,1,12.0,342.0,48,8,42.00,Resident Evil: Revelations,0.00,14,77.0,7.0,12,0.04,0.00,0.00,0.04
2236,2004.0,0,34.0,43.0,524,11,40.05,Zoo Tycoon 2,0.01,14,72.0,8.1,1,0.05,0.00,0.00,0.06
2237,2007.0,3,11.0,13.0,148,8,34.90,Code Lyoko,0.00,3,63.0,6.8,102,0.01,0.00,0.03,0.05
2238,2009.0,0,19.0,6.0,564,0,32.50,Major League Baseball 2K9,0.01,5,61.0,4.0,130,0.00,0.00,0.16,0.17
2239,2001.0,1,4.0,16.0,1008,10,35.05,Martian Gothic: Unification,0.01,12,64.0,6.1,2,0.04,0.00,0.06,0.11
2240,2003.0,0,28.0,12.0,212,5,36.05,Flipnic: Ultimate Pinball,0.01,6,64.0,8.1,5,0.02,0.00,0.03,0.06
2241,2003.0,2,23.0,19.0,449,11,38.30,Worms 3D,0.00,19,69.0,7.6,8,0.01,0.00,0.05,0.07
2242,2002.0,1,39.0,16.0,32,6,40.95,Dead to Rights,0.03,13,73.0,8.9,7,0.17,0.00,0.53,0.72
2243,2005.0,3,4.0,12.0,67,8,34.65,Ultimate Spider-Man,0.01,8,62.0,7.3,4,0.08,0.00,0.22,0.30
2244,2002.0,0,19.0,26.0,32,8,40.40,Pac-Man World 2,0.21,6,73.0,7.8,25,0.05,0.00,1.26,1.51
2245,2007.0,0,26.0,10.0,283,5,36.30,Smarty Pants,0.16,0,65.0,7.6,7,0.75,0.00,0.52,1.43
2246,2013.0,3,75.0,236.0,233,1,44.25,Puppeteer,0.04,5,80.0,8.5,16,0.08,0.02,0.11,0.26
2247,2003.0,0,26.0,7.0,723,2,41.55,Apex,0.00,13,74.0,9.1,10,0.03,0.00,0.10,0.14
2248,2010.0,1,17.0,211.0,273,8,42.15,Dead Rising 2,0.01,14,78.0,6.3,12,0.02,0.00,0.10,0.14
2249,2004.0,0,26.0,38.0,85,0,50.05,World Soccer Winning Eleven 8 International,0.68,6,91.0,9.1,14,1.89,1.12,0.16,3.85
2250,2010.0,3,6.0,4.0,389,5,25.65,Dance on Broadway,0.12,0,48.0,3.3,5,0.65,0.00,0.25,1.02
2251,2008.0,3,55.0,455.0,139,2,47.35,Burnout Paradise,0.29,5,87.0,7.7,7,0.62,0.02,1.01,1.94
2252,2012.0,1,87.0,3260.0,15,6,47.00,Halo 4,0.74,4,87.0,7.0,1,2.28,0.04,6.65,9.71

In [22]:
teste.describe()

,Ano de lancamento,Classificacao,Contagem de criticas,Contagem de usuarios,Desenvolvedora,Genero,Media de pontuacao,Outras vendas,Plataforma,Pontuacao da critica,Pontuacao dos usuarios,Publicadora,Vendas EU,Vendas JP,Vendas NA,Vendas globais
count,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000,2253.000000
mean,2007.502885,1.294274,29.040391,173.991567,361.807812,5.145584,38.792277,0.087248,8.480692,70.402130,7.182423,35.633822,0.242645,0.059183,0.400453,0.789720
std,4.153217,1.044714,19.277668,557.111943,375.161642,3.343577,7.422147,0.251000,5.622857,13.944728,1.439358,71.842118,0.568239,0.247925,0.808167,1.566231
min,1992.000000,0.000000,4.000000,4.000000,0.000000,0.000000,7.000000,0.000000,0.000000,13.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,2004.000000,0.000000,15.000000,12.000000,69.000000,2.000000,34.600000,0.010000,4.000000,62.000000,6.500000,5.000000,0.020000,0.000000,0.060000,0.110000
50%,2007.000000,1.000000,25.000000,27.000000,226.000000,6.000000,40.000000,0.020000,6.000000,73.000000,7.500000,10.000000,0.060000,0.000000,0.150000,0.310000
75%,2011.000000,2.000000,39.000000,89.000000,537.000000,8.000000,44.250000,0.070000,14.000000,81.000000,8.200000,28.000000,0.220000,0.020000,0.410000,0.800000
max,2016.000000,7.000000,113.000000,8713.000000,1693.000000,11.000000,53.050000,7.530000,22.000000,98.000000,9.600000,541.000000,9.200000,5.320000,15.000000,21.810000

In [23]:
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2253 entries, 0 to 2252
Data columns (total 17 columns):
Ano de lancamento         2253 non-null float64
Classificacao             2253 non-null int64
Contagem de criticas      2253 non-null float64
Contagem de usuarios      2253 non-null float64
Desenvolvedora            2253 non-null int64
Genero                    2253 non-null int64
Media de pontuacao        2253 non-null float64
Nome                      2253 non-null object
Outras vendas             2253 non-null float64
Plataforma                2253 non-null int64
Pontuacao da critica      2253 non-null float64
Pontuacao dos usuarios    2253 non-null float64
Publicadora               2253 non-null int64
Vendas EU                 2253 non-null float64
Vendas JP                 2253 non-null float64
Vendas NA                 2253 non-null float64
Vendas globais            2253 non-null float64
dtypes: float64(11), int64(5), object(1)
memory usage: 299.3+ KB