# Importando as bibliotecas e o dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

data = pd.read_csv('datasets/video-game-sales-with-ratings/Video_Games_Sales_as_at_22_Dec_2016.csv')
data.columns = ['Nome', 'Plataforma', 'Ano de lancamento', 'Genero', 'Publicadora', 'Vendas NA', 'Vendas EU', 'Vendas JP', 'Outras vendas', 'Vendas globais', 'Pontuacao da critica', 'Contagem de criticas', 'Pontuacao dos usuarios', 'Contagem de usuarios', 'Desenvolvedora', 'Classificacao']
data.head()

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

## Informações do dataset

### Informações gerais

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
Nome                      16717 non-null object
Plataforma                16719 non-null object
Ano de lancamento         16450 non-null float64
Genero                    16717 non-null object
Publicadora               16665 non-null object
Vendas NA                 16719 non-null float64
Vendas EU                 16719 non-null float64
Vendas JP                 16719 non-null float64
Outras vendas             16719 non-null float64
Vendas globais            16719 non-null float64
Pontuacao da critica      8137 non-null float64
Contagem de criticas      8137 non-null float64
Pontuacao dos usuarios    10015 non-null object
Contagem de usuarios      7590 non-null float64
Desenvolvedora            10096 non-null object
Classificacao             9950 non-null object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

### Estatísticas descritivas

In [3]:
data.describe()

,Ano de lancamento,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Contagem de usuarios
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

### Anotações imediatas

A princípio penso em focar nas colunas Genre, Platform, Global_Sales, Critic_Score, User_Score e Rating.

## Limpando os dados

### Alterando valores da coluna Gênero

In [4]:
generos = data['Genero'].copy()
generos[generos== 'Sports'] = 0
generos[generos== 'Platform'] = 1
generos[generos== 'Racing'] = 2
generos[generos== 'Role-Playing'] = 3
generos[generos== 'Puzzle'] = 4
generos[generos== 'Misc'] = 5
generos[generos== 'Shooter'] = 6
generos[generos== 'Simulation'] = 7
generos[generos== 'Action'] = 8
generos[generos== 'Fighting'] = 9
generos[generos== 'Adventure'] = 10
generos[generos== 'Strategy'] = 11
data['Genero'] = generos

### Alterando valores da coluna Platform

In [5]:
plataforma = data['Plataforma'].copy()
plataforma[plataforma == 'Wii'] = 0
plataforma[plataforma == 'NES'] = 1
plataforma[plataforma == 'GB'] = 2
plataforma[plataforma == 'DS'] = 3
plataforma[plataforma == 'X360'] = 4
plataforma[plataforma == 'PS3'] = 5
plataforma[plataforma == 'PS2'] = 6
plataforma[plataforma == 'SNES'] = 7
plataforma[plataforma == 'GBA'] = 8
plataforma[plataforma == 'PS4'] = 9
plataforma[plataforma == '3DS'] = 10
plataforma[plataforma == 'N64'] = 11
plataforma[plataforma == 'PS'] = 12
plataforma[plataforma == 'XB'] = 13
plataforma[plataforma == 'PC'] = 14
plataforma[plataforma == '2600'] = 15
plataforma[plataforma == 'PSP'] = 16
plataforma[plataforma == 'XOne'] = 17
plataforma[plataforma == 'WiiU'] = 18
plataforma[plataforma == 'GC'] = 19
plataforma[plataforma == 'GEN'] = 20
plataforma[plataforma == 'DC'] = 21
plataforma[plataforma == 'PSV'] = 22
plataforma[plataforma == 'SAT'] = 23
plataforma[plataforma == 'SCD'] = 24
plataforma[plataforma == 'WS'] = 25
plataforma[plataforma == 'NG'] = 26
plataforma[plataforma == 'TG16'] = 27
plataforma[plataforma == '3DO'] = 28
plataforma[plataforma == 'GG'] = 29
plataforma[plataforma == 'PCFX'] = 30
data['Plataforma'] = plataforma

### Alterando valores da coluna Classificação

In [6]:
#1      E
#2      M
#3      T
#4      E10+
#5      K-A
#6      AO
#7      EC
#8      RP

classificacao = data['Classificacao'].copy()
classificacao[classificacao == 'E'] = 0
classificacao[classificacao == 'M'] = 1
classificacao[classificacao == 'T'] = 2
classificacao[classificacao == 'E10+'] = 3
classificacao[classificacao == 'K-A'] = 4
classificacao[classificacao == 'AO'] = 5
classificacao[classificacao == 'EC'] = 6
classificacao[classificacao == 'RP'] = 7
data['Classificacao'] = classificacao

### Preenchendo valores vazios de colunas quantitativas

In [7]:
# data['Pontuação da crítica'] = data['Pontuação da crítica'].fillna(data['Pontuação da crítica'].mean())
# data['Contagem de críticas'] = data['Contagem de críticas'].fillna(data['Contagem de críticas'].mean())
# data['Contagem de usuários'] = data['Contagem de usuários'].fillna(data['Contagem de usuários'].mean())
# # Falta apenas 'Pontuação dos usuários'

data[data['Pontuacao dos usuarios'] == 'tbd'] = np.nan
data['Pontuacao dos usuarios'] = data['Pontuacao dos usuarios'].astype('float64')
# data['Pontuação dos usuários'] = data['Pontuação dos usuários'].fillna(data['Pontuação dos usuários'].mean())

### Preenchendo valores vazios de colunas qualitativas

In [8]:
# data['Plataforma'].median()

### Retirando valores vazios restantes

In [9]:
# data.dropna()
# data.describe()
# data['Contagem de usuários'].notnull().sum()
data = data.dropna()

### Criando uma coluna com as médias de pontuação

In [10]:
data['Media de pontuacao'] = 0.0
def media(x, y):
    return (x+y)/2
data['Media de pontuacao'] = data.apply(lambda row: media(row['Pontuacao da critica'], row['Pontuacao dos usuarios']), axis=1)
data.head()

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
0,Wii Sports,0,2006.0,0,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,0,42.00
2,Mario Kart Wii,0,2008.0,2,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,0,45.15
3,Wii Sports Resort,0,2009.0,0,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,0,44.00
6,New Super Mario Bros.,3,2006.0,1,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,0,48.75
7,Wii Play,0,2006.0,5,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,0,32.30

### Informações finais do Dataframe

In [11]:
data.describe()

,Ano de lancamento,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Media de pontuacao
count,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000
mean,2007.436777,0.394484,0.236089,0.064158,0.082677,0.777590,70.272088,28.931136,7.185626,174.722344,38.728857
std,4.211248,0.967385,0.687330,0.287570,0.269871,1.963443,13.868572,19.224165,1.439942,587.428538,7.375442
min,1985.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,0.500000,4.000000,7.000000
25%,2004.000000,0.060000,0.020000,0.000000,0.010000,0.110000,62.000000,14.000000,6.500000,11.000000,34.450000
50%,2007.000000,0.150000,0.060000,0.000000,0.020000,0.290000,72.000000,25.000000,7.500000,27.000000,39.900000
75%,2011.000000,0.390000,0.210000,0.010000,0.070000,0.750000,80.000000,39.000000,8.200000,89.000000,44.150000
max,2016.000000,41.360000,28.960000,6.500000,10.570000,82.530000,98.000000,113.000000,9.600000,10665.000000,53.400000

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6825 entries, 0 to 16706
Data columns (total 17 columns):
Nome                      6825 non-null object
Plataforma                6825 non-null object
Ano de lancamento         6825 non-null float64
Genero                    6825 non-null object
Publicadora               6825 non-null object
Vendas NA                 6825 non-null float64
Vendas EU                 6825 non-null float64
Vendas JP                 6825 non-null float64
Outras vendas             6825 non-null float64
Vendas globais            6825 non-null float64
Pontuacao da critica      6825 non-null float64
Contagem de criticas      6825 non-null float64
Pontuacao dos usuarios    6825 non-null float64
Contagem de usuarios      6825 non-null float64
Desenvolvedora            6825 non-null object
Classificacao             6825 non-null object
Media de pontuacao        6825 non-null float64
dtypes: float64(11), object(6)
memory usage: 959.8+ KB

### Salvando arquivo

In [13]:
# fileCleaned = pd.DataFrame(data={'Platform': data['Platform'], 'Genre': data['Genre'], 'Global_Sales': data['Global_Sales'],
#      'Critic_Score': data['Critic_Score'], 'User_Score': data['User_Score'], 'Rating': data['Rating'], 'Score_Mean': data['Score_Mean']})
# fileCleaned.dropna().to_csv(r'fileCleaned.csv', sep=',', index=False)
data.to_csv(r'fileCleaned.csv', sep=',', index=False)

### Abrindo o arquivo novamente

In [14]:
data = pd.read_csv('fileCleaned.csv')
data.head()

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
0,Wii Sports,0,2006.0,0,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,0,42.00
1,Mario Kart Wii,0,2008.0,2,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,0,45.15
2,Wii Sports Resort,0,2009.0,0,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,0,44.00
3,New Super Mario Bros.,3,2006.0,1,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,0,48.75
4,Wii Play,0,2006.0,5,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,0,32.30

In [15]:
data.describe()

,Plataforma,Ano de lancamento,Genero,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Classificacao,Media de pontuacao
count,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000
mean,8.705055,2007.436777,5.159707,0.394484,0.236089,0.064158,0.082677,0.777590,70.272088,28.931136,7.185626,174.722344,1.317656,38.728857
std,5.668051,4.211248,3.350953,0.967385,0.687330,0.287570,0.269871,1.963443,13.868572,19.224165,1.439942,587.428538,1.051942,7.375442
min,0.000000,1985.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,0.500000,4.000000,0.000000,7.000000
25%,4.000000,2004.000000,2.000000,0.060000,0.020000,0.000000,0.010000,0.110000,62.000000,14.000000,6.500000,11.000000,0.000000,34.450000
50%,6.000000,2007.000000,6.000000,0.150000,0.060000,0.000000,0.020000,0.290000,72.000000,25.000000,7.500000,27.000000,1.000000,39.900000
75%,14.000000,2011.000000,8.000000,0.390000,0.210000,0.010000,0.070000,0.750000,80.000000,39.000000,8.200000,89.000000,2.000000,44.150000
max,22.000000,2016.000000,11.000000,41.360000,28.960000,6.500000,10.570000,82.530000,98.000000,113.000000,9.600000,10665.000000,7.000000,53.400000

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6825 entries, 0 to 6824
Data columns (total 17 columns):
Nome                      6825 non-null object
Plataforma                6825 non-null int64
Ano de lancamento         6825 non-null float64
Genero                    6825 non-null int64
Publicadora               6825 non-null object
Vendas NA                 6825 non-null float64
Vendas EU                 6825 non-null float64
Vendas JP                 6825 non-null float64
Outras vendas             6825 non-null float64
Vendas globais            6825 non-null float64
Pontuacao da critica      6825 non-null float64
Contagem de criticas      6825 non-null float64
Pontuacao dos usuarios    6825 non-null float64
Contagem de usuarios      6825 non-null float64
Desenvolvedora            6825 non-null object
Classificacao             6825 non-null int64
Media de pontuacao        6825 non-null float64
dtypes: float64(11), int64(3), object(3)
memory usage: 906.5+ KB

### Separando dados de treino e teste

In [17]:
# 4.573 de treino
# 2.252 de teste
data.iloc[0:4572, 0:].to_csv(r'treino.csv', sep=',', index=False)
data.iloc[4573:, 0:].to_csv(r'teste.csv', sep=',', index=False)
treino = pd.read_csv('treino.csv')
treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 17 columns):
Nome                      4572 non-null object
Plataforma                4572 non-null int64
Ano de lancamento         4572 non-null float64
Genero                    4572 non-null int64
Publicadora               4572 non-null object
Vendas NA                 4572 non-null float64
Vendas EU                 4572 non-null float64
Vendas JP                 4572 non-null float64
Outras vendas             4572 non-null float64
Vendas globais            4572 non-null float64
Pontuacao da critica      4572 non-null float64
Contagem de criticas      4572 non-null float64
Pontuacao dos usuarios    4572 non-null float64
Contagem de usuarios      4572 non-null float64
Desenvolvedora            4572 non-null object
Classificacao             4572 non-null int64
Media de pontuacao        4572 non-null float64
dtypes: float64(11), int64(3), object(3)
memory usage: 607.3+ KB

In [18]:
treino.describe()

,Plataforma,Ano de lancamento,Genero,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Classificacao,Media de pontuacao
count,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000,4572.000000
mean,7.920166,2007.479440,4.942913,0.566881,0.342325,0.093371,0.120597,1.123077,72.739939,33.001094,7.304528,219.865048,1.281496,40.022233
std,5.479020,4.161871,3.313559,1.142970,0.819061,0.347455,0.323034,2.322223,12.843110,20.494398,1.329328,677.443473,1.055941,6.799346
min,0.000000,1994.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.160000,19.000000,3.000000,1.200000,4.000000,0.000000,10.950000
25%,4.000000,2004.000000,2.000000,0.150000,0.050000,0.000000,0.020000,0.290000,65.000000,17.000000,6.600000,15.000000,0.000000,36.050000
50%,6.000000,2008.000000,6.000000,0.280000,0.140000,0.000000,0.050000,0.540000,75.000000,29.000000,7.600000,36.000000,1.000000,41.050000
75%,13.000000,2011.000000,8.000000,0.590000,0.340000,0.040000,0.110000,1.130000,82.000000,46.000000,8.300000,118.000000,2.000000,45.000000
max,22.000000,2016.000000,11.000000,41.360000,28.960000,6.500000,10.570000,82.530000,98.000000,113.000000,9.600000,10665.000000,5.000000,53.400000

In [19]:
teste = pd.read_csv('teste.csv')
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2252 entries, 0 to 2251
Data columns (total 17 columns):
Nome                      2252 non-null object
Plataforma                2252 non-null int64
Ano de lancamento         2252 non-null float64
Genero                    2252 non-null int64
Publicadora               2252 non-null object
Vendas NA                 2252 non-null float64
Vendas EU                 2252 non-null float64
Vendas JP                 2252 non-null float64
Outras vendas             2252 non-null float64
Vendas globais            2252 non-null float64
Pontuacao da critica      2252 non-null float64
Contagem de criticas      2252 non-null float64
Pontuacao dos usuarios    2252 non-null float64
Contagem de usuarios      2252 non-null float64
Desenvolvedora            2252 non-null object
Classificacao             2252 non-null int64
Media de pontuacao        2252 non-null float64
dtypes: float64(11), int64(3), object(3)
memory usage: 299.2+ KB

In [20]:
teste.describe()

,Plataforma,Ano de lancamento,Genero,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Classificacao,Media de pontuacao
count,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000,2252.000000
mean,10.301066,2007.349911,5.597691,0.044645,0.020511,0.004831,0.005728,0.076456,65.264654,20.670515,6.943961,83.142096,1.390764,36.104307
std,5.711402,4.310282,3.383362,0.036741,0.021053,0.017077,0.006299,0.041997,14.514079,12.865596,1.615546,318.800561,1.040309,7.793288
min,0.000000,1985.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,4.000000,0.500000,4.000000,0.000000,7.000000
25%,5.000000,2004.000000,3.000000,0.010000,0.000000,0.000000,0.000000,0.040000,57.000000,11.000000,6.200000,7.000000,0.000000,31.737500
50%,13.000000,2007.000000,6.000000,0.040000,0.020000,0.000000,0.010000,0.070000,67.000000,18.000000,7.300000,15.000000,2.000000,37.300000
75%,14.000000,2010.000000,8.000000,0.070000,0.030000,0.000000,0.010000,0.110000,76.000000,28.000000,8.100000,41.000000,2.000000,41.862500
max,22.000000,2016.000000,11.000000,0.140000,0.140000,0.150000,0.030000,0.160000,96.000000,83.000000,9.600000,9851.000000,7.000000,52.650000